// Alert Box
$alert-error-background-color: #FFE8E8;
$alert-error-border-color: #FF4D4D;
$alert-success-background-color: #C7FBC9;
$alert-success-border-color: #4BAF4F;
$alert-warning-background-color: #FFE6A5;
$alert-warning-border-color: #CF990D;
$alert-info-background-color: #D2ECFF;
$alert-info-border-color: #0C83D9;

$alert-title-font-size: 12px;
$alert-title-font-wight: 700;
