// Breadcrumb
$breadcrumb-item-font-color: #797F86;
$breadcrumb-item-font-weight: 700;
$breadcrumb-item-font-size: 14px;
$breadcrumb-item-max-width: 170px;
$breadcrumb-item-seperator-size: 11px;
$breadcrumb-item-active-font-color: #000000;