// Content Area
$content-wrapper-padding: 20px;
$content-wrapper-background-color: #FFFFFF;
$content-wrapper-border-width: 1px;
$content-wrapper-border-color: #DEE1E4;
$content-wrapper-border-radius: 3px;