// Form control
$input-font-size: 11px;
$input-font-color: #000000;
$input-font-weight: 400;
$input-background-color: #FFFFFF;
$input-focus-background-color: #FFFFFF;
$input-border-color: #C8CED1;
$input-border-radius: 2px;
$input-focus-border-color: $theme-color;
$input-placeholder-color: #C8CED1;

// Invalid Text Input
$invalid-input-border-color: #FF0000;

// Disable Text Input
$disabled-input-font-color: #AFAFAF;
$disabled-input-background-color: #F6F7F9;
$disabled-input-border-color: #E7E8E9;

// Form group label
$formgroup-label-font-size: 11px;
$formgroup-label-font-weight: 700;
$formgroup-label-font-color: #000000;

// Required
$required-color: #FF0000;

// Input type number buttons
$control-btn-color: #797F86;
$control-btn-background-color: #F6F7F9;
$disabled-control-btn-color: #CCCCCC;
$disabled-control-btn-border-color: #E7E8E9;
$disabled-control-btn-background-color: #F6F7F9;


// Mixed Input
$mixed-btn-color: #797F86;
$mixed-btn-background-color: #F6F7F9;
$mixed-btn-border-color: #C8CED1;
$disabled-mixed-btn-color: #B7B7B8;
$disabled-mixed-btn-background-color: #F6F7F9;
$disabled-mixed-btn-border-color: #E7E8E9;
$mixed-active-btn-color: $app-text-color;
$mixed-active-btn-background-color: $theme-color;
$mixed-active-btn-border-color: $theme-color;
$disabled-mixed-active-btn-color: #FFFFFF;
$disabled-mixed-active-btn-background-color: #CCCCCC;
$disabled-mixed-active-btn-border-color: #CCCCCC;

// Checkbox
$checkbox-border-color: #C8CED1;
$checkbox-background-color: #FFFFFF;
$disabled-checkbox-background-color: #F6F7F9;
$disabled-checkbox-border: #CCCCCC;
$disabled-checkbox-color: #CCCCCC;