// Header & Titles
$heading-font-size: 14px;
$heading-font-weight: 700;
$heading-font-color: #000000;
$section-title-font-size: 14px;
$section-title-font-color: #000000;
$section-title-font-weight: 700;