// Language Selector
$language-option-width: 28px;
$language-option-height: 28px;
$language-option-border-color: #C8CED1;
$disabled-language-option-border-color: #E7E8E9;
$disabled-language-option-background-color: #F6F7F9;