// Loader Colors
$loader-border-color: $theme-color;
$loader-wrapper-z-index: 9990;
$loader-wrapper-background-color: #FFFFFF;
$loader-wrapper-background-opacity: 0.95;
$loader-size: 48px;
$loader-border-width: 6px;
