// Modal
$modal-box-shadow-color: #000000;
$modal-box-shadow-color-opacity: 0.5;
$modal-border-color: #DEE1E4;
$modal-background-color: #FFFFFF;
$modal-border-radius: 3px;
$modal-body-padding: 20px;
$modal-footer-background-color: #C8CED1;
$modal-footer-background-opacity: 0.2;
$modal-footer-padding: 10px;

$modal-heading-font-size: 14px;
$modal-heading-font-weight: 700;
$modal-heading-font-color: #000000;

$modal-type-icon-size: 48px;

$modal-warning-color: #CF990D;
$modal-danger-color: #FF4D4D;
$modal-info-color: #0C83D9;
$modal-success-color: #4BAF4F;


// Modal variant maps
$modal-variant: (
  success: $modal-success-color,
  info: $modal-info-color,
  warning: $modal-warning-color,
  danger: $modal-danger-color
);