// Side Navigation
$sidebar-width: 255px;
$collapsed-sidebar-width: 40px;
$dark-sidebar-bg: $side-navigation-menu-color;
$dark-sidebar-font-color: $side-navigation-text-color;
$dark-sidebar-active-link-bg: darken($side-navigation-menu-color, 4%);
$dark-sidebar-active-font-color: $side-navigation-active-text-color;
$dark-sidebar-favorites-fill: #FFD814;
$light-sidebar-bg: #F5F5F5;
$light-sidebar-font-color: #000000;
$light-sidebar-active-link-bg: #EDEDED;
$light-sidebar-active-font-color: $theme-color;
$light-sidebar-favorites-fill: #FFD814;