// Side Panel
$side-panel-width: 515px;
$side-panel-background-color: #FFFFFF;
$side-panel-padding-x: 30px;
$side-panel-padding-y: 20px;
$side-panel-header-height: 50px;
$side-panel-header-title-color: #000000;
$side-panel-header-title-font-size: 12px;
$side-panel-border-color: #DDE1E3;

// Side Panel Wrapper
$side-panel-wrapper-background-color: #323A43;
$side-panel-wrapper-opacity: 0.5;