/* ======================================= Alert Style ======================================= */

.alert {
  padding: 15px;
  border-top-width: 3px;
  color: #000000;
  position: relative;
  margin: 0;
  p {
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  button {
    &.close {
      opacity: 0.2;
      color: #000000;
      cursor: pointer;
      padding: 0;
      background: 0 0;
      border: 0;
      -webkit-appearance: none;
      width: 40px;
      font-size: 16px;
      height: 40px;
      padding: 0 !important;
      text-align: center;
      line-height: 40px;
      right: 0 !important;
      top: 0 !important;
      position: absolute !important;
      @include transition(0.15s linear);
      &:hover {
        @include transition(0.15s linear);
        opacity: 0.7;
      }
    }
  }
  .alert-title {
    font-size: $alert-title-font-size;
    font-weight: $alert-title-font-wight;
    margin-bottom: 10px;
    i {
      top: -2px;
      position: relative;
      vertical-align: middle;
      font-size: 14px;
      margin-right: 10px;
    }
  }
  .alert-body {
    margin: 0 -15px -10px;
    padding: 0 15px;
    max-height: 105px;
    overflow: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar-track {
      background: white;
    }
  }
  &.alert-danger {
    border-color: $alert-error-border-color;
    background-color: $alert-error-background-color;
    .alert-body {
      &::-webkit-scrollbar-track {
        border-color: $alert-error-background-color;
      }
      &::-webkit-scrollbar-thumb {
        background: #bfaeae;
        border-left-color: $alert-error-background-color;
        border-right-color: $alert-error-background-color;
      }
      &::-webkit-scrollbar-thumb {
        &:vertical {
          background: #bfaeae;
          border-left-color: $alert-error-background-color;
          border-right-color: $alert-error-background-color;
        }
        &:horizontal {
          background: #bfaeae;
          border-top-color: $alert-error-background-color;
          border-bottom-color: $alert-error-background-color;
        }
      }
      ul {
        margin: 0;
        padding-left: 17px;
        li {
          +li {
            margin-top: 5px;
          }
        }
      }
    }
  }
  &.alert-warning {
    border-color: $alert-warning-border-color;
    background-color: $alert-warning-background-color;
    .alert-title {
      i {
        color: #D4A427;
      }
    }
    .alert-body {
      &::-webkit-scrollbar-track {
        border-color: $alert-warning-background-color;
      }
      &::-webkit-scrollbar-thumb {
        background: #bfaeae;
        border-left-color: $alert-warning-background-color;
        border-right-color: $alert-warning-background-color;
      }
      &::-webkit-scrollbar-thumb {
        &:vertical {
          background: #bfaeae;
          border-left-color: $alert-warning-background-color;
          border-right-color: $alert-warning-background-color;
        }
        &:horizontal {
          background: #bfaeae;
          border-top-color: $alert-warning-background-color;
          border-bottom-color: $alert-warning-background-color;
        }
      }
      ul {
        margin: 0;
        padding-left: 17px;
        li {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.clickable-error {
  text-decoration: underline;
  cursor: pointer;
}
