ob-tree-view,
.draggable-directory {
  width: 100%;
}

.directory-list-sidebar {
  width: 240px;
  float: left;
  padding-right: 10px;
  border-right: 1px solid $border-color;
  .tab-content {
    padding: 0;
    height: calc(100% - 42px);
    .tab-pane {
      .content-wrapper {
        top: 0;
        border: none;
      }
    }
  }
  .nav-tabs {
    .nav-item {
      margin-bottom: -1px;
      margin-right: 20px;
    }
    .nav-link {
      font-weight: 700;
      border: none !important;
      padding: 0;
      color: black;
      border-bottom: 1px solid $border-color!important;
      position: relative;
      &.active,
      &:hover {
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -1px;
          height: 2px;
          right: 0;
          background: $gold;
        }
      }
    }
  }
}

.dropped-list-section {
  position: relative;
  .content-wrapper {
    top: 0;
    border: none;
    &.outer-wrapper {
      padding-left: 20px;
      padding-top: 20px;
    }
  }
}

.directory-list {
  width: 100%;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    .tag-wrapper {
      position: relative;
      width: 100%;
      a {
        font-size: 12px;
        color: black;
        display: block;
        padding: 6px 10px 6px 20px;
        position: relative;
        cursor: pointer;
        height: 30px;
        width: 100%;
        i,
        .status,
        .type-label,
        .value {
          vertical-align: middle;
        }
        .capsules {
          > i {
            margin-right: 5px;
          }
        }
        .status {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin-right: 5px;
          display: inline-block;
          background: #9A9EA4;
          &.ai-active {
            background: $green;
          }
          &.ai-inactive {
            background: $red;
          }
        }
        .type-label {
          width: 15px;
          height: 12px;
          line-height: 12px;
          border-radius: 2px;
          margin-right: 5px;
          display: inline-block;
          color: white;
          background: #9A9EA4;
          font-size: 9px;
          text-align: center;
          text-transform: uppercase;
        }
        .currency-label {
          width: 20px;
          height: 12px;
          line-height: 12px;
          border-radius: 2px;
          margin-right: 5px;
          display: inline-block;
          color: white;
          background: $theme-color;
          font-size: 9px;
          text-align: center;
          text-transform: uppercase;
        }
        .value {
          margin: 0;
          vertical-align: middle;
          display: inline-block;
          line-height: 1.6;
        }
        &.selected {
          background: #f5f6f7;
        }
      }
      .btn-wrapper {
        opacity: 0;
        position: absolute;
        z-index: 99;
        background: rgba(255, 255, 255, 0.3);
        right: 0;
        width: 100px;
        top: 0;
        bottom: 0;
        padding: 9px;
        text-align: right;
        background: -moz-linear-gradient(left, rgba(243, 245, 249, 0) 0%, rgba(243, 245, 249, 1) 70%, rgba(243, 245, 249, 1) 100%);
        background: -webkit-linear-gradient(left, rgba(243, 245, 249, 0) 0%, rgba(243, 245, 249, 1) 70%, rgba(243, 245, 249, 1) 100%);
        background: linear-gradient(to right, rgba(243, 245, 249, 0) 0%, rgba(243, 245, 249, 1) 70%, rgba(243, 245, 249, 1) 100%);
        .btn-add {
          background: transparent;
          border: none;
          outline: none;
          float: right;
          position: relative;
          height: 15px;
          width: 15px;
          padding: 0;
          color: $theme-color;
          font-size: 15px;
          line-height: 15px;
          cursor: pointer;
          i {
            vertical-align: top;
          }
        }
      }
      &:hover {
        background: #F3F5F9;
        .btn-wrapper {
          opacity: 1;
        }
      }
    }
    li {
      display: block;
      width: 100%;
      &.has-branch {
        >.tag-wrapper {
          >a {
            &:before {
              position: absolute;
              content: '\e932';
              font-family: $icon-font-family;
              font-size: 8px;
              left: 10px;
              top: 9px;
              @include transform(rotate(0deg));
              @include transition(0.2s linear);
            }
          }
        }
      }
      &.is-folder {
        >.tag-wrapper {
          >a {
            font-size: 10px;
            i {
              font-size: 14px;
              margin-right: 5px;
            }
            .value {
              text-transform: uppercase;
              font-weight: 700;
            }
          }
        }
      }
      ul {
        display: none;
        li {
          &.has-branch {
            >.tag-wrapper {
              >a {
                &:before {
                  left: 20px;
                }
              }
            }
          }
          .tag-wrapper {
            a {
              padding-left: 30px;
            }
          }
          ul {
            li {
              &.has-branch {
                >.tag-wrapper {
                  >a {
                    &:before {
                      left: 30px;
                    }
                  }
                }
              }
              .tag-wrapper {
                a {
                  padding-left: 42px;
                }
              }
              ul {
                li {
                  &.has-branch {
                    >.tag-wrapper {
                      >a {
                        &:before {
                          left: 42px;
                        }
                      }
                    }
                  }
                  .tag-wrapper {
                    a {
                      padding-left: 54px;
                    }
                  }
                  ul {
                    li {
                      &.has-branch {
                        >.tag-wrapper {
                          >a {
                            &:before {
                              left: 54px;
                            }
                          }
                        }
                      }
                      .tag-wrapper {
                        a {
                          padding-left: 66px;
                        }
                      }
                      ul {
                        li {
                          &.has-branch {
                            >.tag-wrapper {
                              >a {
                                &:before {
                                  left: 66px;
                                }
                              }
                            }
                          }
                          .tag-wrapper {
                            a {
                              padding-left: 78px;
                            }
                          }
                          ul {
                            li {
                              &.has-branch {
                                >.tag-wrapper {
                                  >a {
                                    &:before {
                                      left: 78px;
                                    }
                                  }
                                }
                              }
                              .tag-wrapper {
                                a {
                                  padding-left: 90px;
                                }
                              }
                              ul {
                                li {
                                  &.has-branch {
                                    >.tag-wrapper {
                                      >a {
                                        &:before {
                                          left: 90px;
                                        }
                                      }
                                    }
                                  }
                                  .tag-wrapper {
                                    a {
                                      padding-left: 102px;
                                    }
                                  }
                                  ul {
                                    li {
                                      &.has-branch {
                                        >.tag-wrapper {
                                          >a {
                                            &:before {
                                              left: 102px;
                                            }
                                          }
                                        }
                                      }
                                      .tag-wrapper {
                                        a {
                                          padding-left: 114px;
                                        }
                                      }
                                      ul {
                                        li {
                                          &.has-branch {
                                            >.tag-wrapper {
                                              >a {
                                                &:before {
                                                  left: 114px;
                                                }
                                              }
                                            }
                                          }
                                          .tag-wrapper {
                                            a {
                                              padding-left: 126px;
                                            }
                                          }
                                          ul {
                                            li {
                                              &.has-branch {
                                                >.tag-wrapper {
                                                  >a {
                                                    &:before {
                                                      left: 126px;
                                                    }
                                                  }
                                                }
                                              }
                                              .tag-wrapper {
                                                a {
                                                  padding-left: 138px;
                                                }
                                              }
                                              ul {
                                                li {
                                                  &.has-branch {
                                                    >.tag-wrapper {
                                                      >a {
                                                        &:before {
                                                          left: 138px;
                                                        }
                                                      }
                                                    }
                                                  }
                                                  .tag-wrapper {
                                                    a {
                                                      padding-left: 150px;
                                                    }
                                                  }
                                                  ul {
                                                    li {
                                                      .tag-wrapper {
                                                        a {
                                                          padding-left: 162px;
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.expanded {
        >ul {
          display: block;
        }
        &.has-branch {
          >.tag-wrapper {
            >a {
              &:before {
                @include transform(rotate(45deg));
                top: 8px;
              }
            }
          }
        }
      }
    }
  }

  &.selectable-list {
    .input-check {
      label {
        vertical-align: top;
      }
    }
    ul {
      a {
        .btn-wrapper {
          top: -1px;
        }
      }
      .sub-list {
        .input-check {
          label {
            margin-top: 2px;
          }
        }
      }
    }
  }
  &.filtered-list {
    ul {
      li {
        ul {
          li {
            ul {
              li {
                &.has-branch {
                  >.tag-wrapper {
                    >a {
                      &:before {
                        left: 54px;
                      }
                    }
                  }
                }
                .tag-wrapper {
                  a {
                    padding-left: 64px;
                  }
                }
                ul {
                  li {
                    .tag-wrapper {
                      a {
                        padding-left: 76px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .dropdown {
    ul {
      display: block;
    }
  }
}

.opacity-list {
  .directory-list {
    ul {
      .tag-wrapper {
        a {
          &.selected {
            background: white;
            opacity: 0.2;
          }
        }
      }
    }
  }
}

.collapsable-directory-list {
  .collapsable-block {
    .block-title {
      position: relative;
      .btn-toggle {
        padding: 10px;
        position: relative;
        >span {
          font-size: 11px;
          text-transform: initial;
          max-width: calc(100% - 20px);
          display: inline-block;
        }
        .tooltip-text {
          font-weight: 400;
          font-size: 10px;
        }
      }
      .btn-wrapper {
        opacity: 0;
        position: absolute;
        z-index: 99;
        background: rgba(255, 255, 255, 0.3);
        right: 0;
        width: 100px;
        top: 0;
        bottom: 0;
        padding: 9px;
        text-align: right;
        background: -moz-linear-gradient(left, rgba(243, 245, 249, 0) 0%, rgba(243, 245, 249, 1) 100%);
        background: -webkit-linear-gradient(left, rgba(243, 245, 249, 0) 0%, rgba(243, 245, 249, 1) 100%);
        background: linear-gradient(to right, rgba(243, 245, 249, 0) 0%, rgba(243, 245, 249, 1) 100%);
        .btn-add {
          background: transparent;
          border: none;
          outline: none;
          float: right;
          position: relative;
          height: 15px;
          width: 15px;
          padding: 0;
          color: $theme-color;
          font-size: 15px;
          line-height: 15px;
          cursor: pointer;
          margin-right: 20px;
          i {
            vertical-align: top;
          }
        }
      }
      &:hover {
        background: #F3F5F9;
        .btn-wrapper {
          opacity: 1;
        }
      }
    }
    +.collapsable-block {
      margin-top: 0;
    }
  }
}

.directory-tooltip {
  text-align: left !important;
  h6 {
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: 700;
    color: $theme-color;
  }
  p {
    margin: 0;
  }
}

ob-dragdropdest {
  .dropping-area {
    height: 100%;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    >.k-grid {
      height: 100%;
    }
  }
}
