/* ======================================= Dropdown Style ======================================= */

ob-dropdown {
  width: 100%;
}

.dropdown {
  &.select-status {
    span {
      position: relative;
      &.status {
        padding-left: 16px;
        &:before {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          left: 0;
          top: 50%;
          margin-top: -4px;
        }
      }
      &.active {
        &:before {
          background-color: $green;
        }
      }
      &.inactive {
        &:before {
          background-color: $red;
        }
      }
    }
    .dropdown-toggle {
      i {
        font-size: 12px;
        margin-left: 15px;
      }
    }
    .dropdown-menu {
      li {
        a {
          span {
            padding-left: 25px;
            &.status {
              &:before {
                width: 11px;
                height: 11px;
                margin-top: -6px;
              }
            }
          }
        }
      }
    }
  }
  &.select-dropdown {
    position: relative;
    .btn-clear {
      margin-right: 8px;
      font-size: 13px;
      line-height: 13px;
      color: $secondary-text-color;
      display: inline-block;
      width: 13px;
      height: 13px;
      margin-top: 8px;
      position: relative;
      z-index: 99;
      position: absolute;
      right: 22px;
      top: 2px;
      &:hover {
        color: $theme-color;
      }
    }
    .dropdown-toggle {
      cursor: pointer;
      display: inline-block;
      width: 100%;
      vertical-align: middle;
      border-radius: 0;
      height: 32px;
      text-align: left;
      line-height: 30px;
      padding: 0 10px;
      background: white;
      outline: none;
      font-size: 11px;
      color: #000000;
      font-weight: 400;
      border: 1px solid #C8CED1;
      border-radius: 2px;
      position: relative;
      padding-right: 30px;
      @include transition(0.2s linear);
      >i {
        color: $secondary-text-color;
        margin-top: 0;
        position: absolute;
        right: 10px;
        top: 10px;
        @include transition(0.2s linear);
      }
      &.select {
        >span {
          color: black;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          display: block;
          &.default-value {
            color: #9A9EA4;
          }
        }
      }
      &.disabled {
        background-color: #F6F7F9;
        border-color: #E7E8E9;
        color: $secondary-text-color;
        cursor: not-allowed;
      }
      &:not(.disabled) {
        &:hover {
          border-color: $theme-color;
        }
      }
    }
    .dropdown-menu {
      width: 100%;
      ul {
        max-height: 360px;
        overflow: hidden;
        overflow-y: auto;
      }
    }
  }
  &.show {
    >.btn,
    >.dropdown-toggle {
      &.btn-circle,
      &.btn-outline {
        @include box-shadow-spread(0, 0, 0, 1px, #C8CED1, inset);
      }
      .icon-arrow-down {
        @include rotate(180);
      }
    }
    .tooltip-text {
      display: none;
    }
    >.select {
      border-color: $theme-color;
    }
  }
}

.dropdown-toggle {
  &:after {
    display: none;
  }
  &.disabled {
    background-color: #F6F7F9;
    border-color: #E7E8E9;
    color: $secondary-text-color;
    cursor: not-allowed;
  }
}

.dropdown-item {
  cursor: pointer;
  padding: 10px;
  font-size: $dropdown-item-font-size;
  &:hover,
  &:focus,
  &.active,
  &.selected,
  &:active {
    color: black !important;
    background-color: $dropdown-item-hover-background-color;
  }
}

.dropdown-menu {
  border-radius: $dropdown-menu-border-radius;
  @include box-shadow(0, 3px, 7px, rgba(0, 0, 0, 0.1));
  margin: 0 !important;
  transform: none !important;
  top: 100% !important;
  &.open-left {
    left: auto !important;
    right: 0 !important;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      position: relative;
      .dropdown-submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: 0 !important;
        padding: .5rem 0;
        margin: .125rem 0 0;
      }
      &.has-submenu {
        &:after {
          content: '\e932';
          font-family: $icon-font-family;
          position: absolute;
          right: 10px;
          top: 50%;
          font-size: 10px;
          color: $secondary-text-color;
          margin-top: -7px;
          z-index: 9;
        }
        .dropdown-item {
          padding-right: 30px;
        }
      }
      &:hover {
        >.dropdown-submenu {
          display: block;
        }
      }
    }
  }
}

.searchable-dropdown {
  .dropdown-menu {
    transform: none !important;
    top: 100% !important;
  }
}

.dropdown-search {
  padding: 2px 10px 6px;
  position: relative;
  .search-btn {
    position: absolute;
    right: 15px;
    top: 4px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    i {
      font-size: 14px;
      color: $secondary-text-color;
      @include transition(0.2s linear);
    }
    &:hover {
      i {
        @include transition(0.2s linear);
        color: $theme-color;
      }
    }
  }
  input[type="text"] {
    border-radius: 14px;
    height: 28px;
    border-color: #C8CED1 !important;
    &:not(:placeholder-shown) {
      ~.search-btn {
        i {
          @include transition(0.2s linear);
          color: $theme-color;
        }
      }
    }
  }
}

.select-status {
  span {
    position: relative;
    &.status {
      padding-left: 16px;
      &:before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        left: 0;
        top: 50%;
        margin-top: -4px;
      }
    }
    &.active {
      &:before {
        background-color: $green;
      }
    }
    &.inactive {
      &:before {
        background-color: $red;
      }
    }
  }
}

.form-group {
  &.error {
    .select {
      border-color: $red;
    }
  }
}
