.ob-grid-wrapper {
  @include flex();
  @include css3-prefix('flex-direction', 'column');
  .ob-grid-table {
    display: table;

    .ob-row-group {
      width: 100%;
      display: table;
    }
    .ob-grid-row {
      display: table-row;
      vertical-align: inherit;
      .grid-cell {
        display: table-cell;
        vertical-align: inherit;
        border-bottom: 1px solid $border-color;
        border-left: 1px solid $border-color;
        padding: 5px 10px;
        position: relative;
        @include transition(0.15s linear);
        &:last-child {
          border-right: 1px solid $border-color;
        }
        p {
          margin: 0;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .cell-wrapper {
          width: 100%;
          height: 100%;
          @include flex();
          @include css3-prefix('flex-direction', 'column');
          @include css3-prefix('justify-content', 'center');
          border: 1px solid transparent;
        }
        .btn-edit {
          font-size: 12px;
          color: $theme-color;
          cursor: pointer;
          z-index: 99;
          position: absolute;
          right: 6px;
          top: 6px;
          opacity: 0;
          @include transition(0.15s linear);
        }
        &.selected {
          .cell-wrapper {
            border-color: $theme-color;
          }
          .btn-edit {
            opacity: 1;
            @include transition(0.15s linear);
          }
        }
        &.multi-select {
          .cell-wrapper {
            border-color: $theme-color;
          }
        }
      }
    }
  }
  .ob-grid-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    .ob-header-content {
      .ob-grid-table {
        .ob-grid-row {
          .grid-cell {
            border-top: 1px solid $border-color;
          }
        }
      }
      &.locked-header {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        position: relative;
      }
      &.scrollable-header {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        display: inline-block;
        width: 100%;
        border-color: inherit;
        position: relative;
        overflow: hidden;
        .ob-grid-table {
          width: 100%;
          vertical-align: middle;
          padding-right: 17px;
          @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution:.001dpcm) {
            padding-right: 11px;
          }
          .ob-grid-row {
            .grid-cell {
              padding: 1px;
              text-align: center;
              &.today {
                .cell-wrapper {
                  background: transparentize($theme-color, 0.9);
                }
              }
            }
          }
        }
      }
    }
  }
  .ob-grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    .ob-grid-content {
      &.locked-content {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        position: relative;
        .ob-grid-table {
          .ob-grid-row {
            &.gray-bg {
              background: transparentize(#C8CED1, 0.8);
            }
          }
        }
      }
      &.scrollable-content {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        display: inline-block;
        width: 100%;
        border-color: inherit;
        position: relative;
        overflow: hidden;
        overflow-y: scroll;
        .ob-grid-table {
          width: 100%;
          vertical-align: middle;
          .ob-grid-row {
            .grid-cell {
              padding: 1px;
              text-align: center;
              &.low {
                .cell-wrapper {
                  background: transparentize($gold, 0.8);
                }
              }
              &.critical {
                .cell-wrapper {
                  background: transparentize($red, 0.8);
                }
              }
              &.selected {
                .cell-wrapper {
                  border-color: $theme-color;
                }
              }
              &:hover {
                .cell-wrapper {
                  border-color: $theme-color;
                }
                .btn-edit {
                  opacity: 1;
                  @include transition(0.15s linear);
                }
              }
            }
            &.gray-bg {
              .grid-cell {
                .cell-wrapper {
                  background: transparentize(#C8CED1, 0.8);
                }
              }
            }
          }
          .total-row-group {
            .ob-grid-row {
              .grid-cell {
                &:hover {
                  .cell-wrapper {
                    border-color: transparent;
                  }
                  .btn-edit {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .ob-grid-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    .ob-footer-content {
      .ob-grid-table {
        .ob-grid-row {
          .grid-cell {
            border-top: 1px solid $border-color;
            .cell-wrapper {
              background: transparentize(#C8CED1, 0.8);
            }
          }
        }
      }
      &.locked-footer {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        position: relative;
      }
      &.scrollable-footer {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        display: inline-block;
        width: 100%;
        border-color: inherit;
        position: relative;
        overflow: hidden;
        // overflow-y: scroll;
        .ob-grid-table {
          width: 100%;
          vertical-align: middle;
          padding-right: 17px;
          @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution:.001dpcm) {
            padding-right: 11px;
          }
          .ob-grid-row {
            .grid-cell {
              padding: 1px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.inventory-wrapper {
  .button-wrapper {
    border-bottom: 1px solid $border-color;
    .switch-btn {
      .btn {
        height: 32px;
        line-height: 20px;
        min-width: 65px;
        &.selected {
          border-color: darken($theme-color, 5%);
        }
      }
    }
    .btn-link {
      height: 32px;
      width: 32px;
      background: transparent;
      line-height: initial;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      outline: none;
      padding: 0;
      border: none;
      color: $secondary-text-color;
      text-decoration: none;
      i {
        font-size: 20px;
        line-height: 32px;
      }
      &:hover,
      &.selected {
        color: $theme-color;
      }
    }
    .calendar-btn {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 160px;
      .btn-sq {
        border-radius: 2px;
      }
      .dropdown {
        .dropdown-toggle {
          border: 1px solid $border-color;
          border-radius: 2px;
          background: white;
          height: 32px;
          width: 100%;
          span {
            padding-left: 45px;
          }
        }
      }
      .btn-group {
        position: absolute;
        left: 4px;
        top: 4px;
        .btn {
          padding: 0;
          line-height: 22px;
          font-size: 10px;
          text-align: center;
          width: 24px;
          height: 24px;
        }
      }
      .k-datepicker {
        width: 100%;
        .k-picker-wrap {
          .k-dateinput-wrap {
            .k-input {
              padding-left: 55px;
            }
          }
          .k-select {
            background: transparent;
            border-left: none;
          }
        }
      }
    }
  }
  .ob-grid-wrapper {
    .ob-grid-table {
      .ob-grid-row {
        .grid-cell {
          padding-left: 15px;
          padding-right: 15px;
          &.room-type-label {
            width: 160px;
            min-width: 160px;
            max-width: 160px;
          }
          &.total-room-label {
            width: 120px;
            min-width: 120px;
            max-width: 120px;
            p {
              text-align: center;
            }
          }
          &.total-label {
            width: 280px;
            min-width: 280px;
            max-width: 280px;
            padding: 1px;
            p {
              text-align: left;
              padding: 0 14px;
            }
          }
        }
      }
    }
    .ob-grid-header {
      .ob-grid-table {
        .ob-grid-row {
          .grid-cell {
            height: 51px;
            vertical-align: middle;
            p {
              color: #909090;
              font-size: 10px;
              font-weight: 700;
              text-transform: uppercase;
            }
          }
        }
      }
      .locked-header {
        .ob-grid-table {
          .ob-grid-row {
            .grid-cell {
              border-left: none;
              border-top: none;
              border-right: none;
            }
          }
        }
      }
      .scrollable-header {
        .ob-grid-table {
          .ob-grid-row {
            .grid-cell {
              border-top: none;
            }
          }
        }
      }
    }
    .ob-grid-footer {
      .ob-grid-table {
        .ob-grid-row {
          .grid-cell {
            height: 51px;
            vertical-align: middle;
            p {
              color: #909090;
              font-size: 10px;
              font-weight: 700;
              text-transform: uppercase;
            }
          }
        }
      }
      .locked-footer {
        .ob-grid-table {
          .ob-grid-row {
            .grid-cell {
              border-left: none;
              border-right: none;
              &.total-label {
                width: 280px;
                min-width: 280px;
                max-width: 280px;
                p {
                  color: #000000;
                }
              }
            }
          }
        }
      }
    }
    .ob-grid-container {
      .ob-grid-table {
        .ob-grid-row {
          .grid-cell {
            height: 53px;
            vertical-align: middle;
          }
        }

        .total-row-group {
          position: sticky;
          z-index: 1020;
          bottom: 0;
          background: white;
          border-top: 1px solid $border-color;
          .grid-cell {
            .cell-wrapper {
              background: #f5f6f7;
            }
          }
        }
      }
      .locked-content {
        .ob-grid-table {
          .ob-grid-row {
            .grid-cell {
              border-left: none;
              border-right: none;
              .tooltip-data {
                width: 16px;
                display: inline-block;
                margin: 0 auto;
              }
              .auto-tooltip-text {
                min-width: 240px;
                h5 {
                  font-size: 12px;
                  font-weight: 700;
                }
                h5,
                p {
                  text-align: left;
                  margin: 0;
                }
                table {
                  tr {
                    td {
                      padding: 5px 0;
                    }
                  }
                }
              }
            }
          }
          .total-row-group {
            .grid-cell {
              padding: 1px;
              .cell-wrapper {
                p {
                  padding: 0 14px;
                }
              }
            }
          }
        }
      }
    }
    &.week-view {
      .scrollable-footer,
      .scrollable-header,
      .scrollable-content {
        .ob-grid-table {
          .ob-grid-row {
            .grid-cell {
              width: (100% / 7);
            }
          }
        }
      }
      .scrollable-content {
        overflow-x: hidden;
      }
    }
    &.month-view {
      .scrollable-footer,
      .scrollable-header,
      .scrollable-content {
        .ob-grid-table {
          .ob-grid-row {
            .grid-cell {
              width: 60px;
              min-width: 60px;
              max-width: 60px;
            }
          }
        }
      }
      .locked-footer {
        box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.1);
        overflow-x: scroll;
      }
      .locked-header {
        box-shadow: 3px -1px 5px 0px rgba(0, 0, 0, 0.1);
      }
      .locked-content {
        box-shadow: 3px 0 5px 0px rgba(0, 0, 0, 0.1);
      }
      .scrollable-footer {
        overflow-x: scroll;
      }
      .scrollable-footer,
      .scrollable-header {
          margin-right: 17px;
          @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution:.001dpcm) {
            margin-right: 11px;
          }
        .ob-grid-table {
          padding-right: 0;
          @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution:.001dpcm) {
            padding-right: 0;
          }
        }
      }
    }
    &.detailed-view {
      &.month-view {
        .ob-grid-container {
          .ob-grid-content {
            &.locked-content,
            &.scrollable-content {
              overflow-x: scroll;
              .ob-grid-table {
                .ob-grid-row {
                  .grid-cell {
                    border-bottom: none;
                    height: 31px;
                    &.total-room-label {
                      p {
                        text-align: left;
                      }
                    }
                  }
                  &:last-child {
                    .grid-cell {
                      border-bottom: 1px solid $border-color;
                      padding-top: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .color-code-information {
    .color-palette {
      span,
      label {
        display: inline-block;
        vertical-align: middle;
      }
      label {
        width: 16px;
        height: 16px;
        margin: 0 5px 0 0;
      }
      &.low {
        label {
          background: transparentize($gold, 0.8);
        }
      }
      &.critical {
        label {
          background: transparentize($red, 0.8);
        }
      }
      &.today {
        label {
          background: transparentize($theme-color, 0.9);
        }
      }
    }
  }
}

.set-total-room-grid {
  &.k-grid {
    th {
      padding-top: 11.5px;
      padding-bottom: 11.5px;
    }
  }
  tr {
    td {
      .row-btn-block {
        opacity: 1;
      }
    }
  }
  .k-grid-header {
    th {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
  .k-header {
    .input-check {
      position: relative;
    }
  }
  tr {
    td {
      padding: 0 !important;
      .inner-td {
        margin: 1px 0;
        height: 31px;
        cursor: pointer;
        padding: 3px 15px !important;
        @include flex();
        @include css3-prefix('justify-content', 'flex-start');
        @include css3-prefix('align-items', 'center');
        @include css3-prefix('flex-direction', 'row');
        .form-group {
          * {
            box-sizing: border-box;
          }
        }
      }
      .wrapper-td {
        padding-left: 10px !important;
        padding-right: 10px !important;
        input,
        .btn {
          display: inline-block;
        }
        .btn {
          margin-top: 2px;
        }
      }
    }
    &.k-grid-norecords {
      td {
        padding: 100px 50px !important;
      }
    }
  }
}

.update-room-grid {
  .k-grid-header {
    .k-link {
      &:before {
        display: none;
      }
    }
  }
  tr {
    td {
      .row-btn-block {
        opacity: 1;
      }
    }
  }
  .k-grid-header {
    th {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
  .k-header {
    .input-check {
      position: relative;
    }
  }
  tr {
    td {
      padding: 0 !important;
      .inner-td {
        margin: 1px 0;
        height: 31px;
        cursor: pointer;
        padding: 3px 15px !important;
        @include flex();
        @include css3-prefix('justify-content', 'flex-start');
        @include css3-prefix('align-items', 'center');
        @include css3-prefix('flex-direction', 'row');
        .form-group {
          * {
            box-sizing: border-box;
          }
        }
      }
      .wrapper-td {
        padding-left: 10px !important;
        padding-right: 10px !important;
        input,
        .btn {
          display: inline-block;
        }
        .btn {
          margin-top: 2px;
        }
      }
    }
    &.k-grid-norecords {
      td {
        padding: 100px 50px !important;
      }
    }
  }
}

.right-edit-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  padding: .5rem 0;
  font-size: 11px;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid $border-color;
  border-radius: 2px;
  @include box-shadow(0, 3px, 7px, rgba(0, 0, 0, 0.1));
  margin: 0;
  &.show {
    display: block;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      position: relative;
      a {
        display: block;
        width: 100%;
        cursor: pointer;
        padding: 10px;
        font-size: 11px;
        clear: both;
        font-weight: 400;
        color: #212529;
        white-space: nowrap;
        border: 0;
        text-decoration: none;
        &:hover,
        &:focus,
        &.selected {
          color: black !important;
          background-color: $dropdown-item-hover-background-color;
        }
      }
    }
  }
}
