/* ======================================= Kendo Grid Style Override ======================================= */

.k-button {
  color: inherit;
  padding: 0 !important;
  display: inline-block;
  margin: 0;
  &.row-action-btn {
    border: none;
    background: transparent;
    line-height: 1;
  }
  &:hover {
    background-color: transparent;
    border-color: transparent;
    background-image: none;
  }
  &.btn-circle {
    width: $btn-height;
    height: $btn-height;
    padding: 0;
    text-align: center;
    line-height: $btn-height;
    &:hover {
      box-shadow: none;
    }
  }
  &.btn-success {
    background: $btn-success-background-color;
    border-color: $btn-success-border-color;
    color: $btn-success-font-color;
    &:hover {
      background: $btn-success-hover-background-color;
      border-color: $btn-success-hover-border-color;
    }
  }
  &.btn-default {
    border-color: $btn-default-border;
    background: $btn-default-bg;
    color: $btn-default-color;
    &:hover {
      border-color: $btn-default-border;
      background: $btn-default-bg;
      @include box-shadow-spread(0, 0, 0, 1px, $btn-outline-box-shadow-color, inset);
    }
  }
}

.k-widget,
.k-block {
  font-size: 12px;
   ::selection {
    background-color: #4AA0FB !important;
  }
}

.k-grid-header,
.k-grid-toolbar,
.k-grouping-header,
.k-grid-add-row,
.k-grid-footer,
.k-drag-clue {
  background-color: #FFFFFF;
  color: #000000;
}

.k-grid-toolbar {
  padding: 0;
  border: none;
}

.k-grid-header {
  border-top: 1px solid #EEEEEE !important;
  border-bottom: 1px solid #EEEEEE !important;
  .k-header {
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
    .k-i-sort-asc-sm,
    .k-i-sort-desc-sm {
      position: absolute !important;
      left: -4px !important;
      top: 13px;
      color: black !important;
    }
    >.k-link {
      margin: -8px -15px !important;
      padding: 13px 15px !important;
      position: relative;
      text-transform: uppercase;
    }
    &.th-checkbox {
      padding-right: 5px;
      .inner-td {
        width: 14px;
        display: inline-block;
        display: table-cell;
        vertical-align: middle;
      }
      >.k-link {
        padding-right: 5px;
        >.k-icon {
          margin-left: 2px;
        }
      }
    }
    &:not(:first-child) {
      >.k-link {
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 10px;
          bottom: 10px;
          width: 1px;
          z-index: 1;
          background: #CCCCCC;
        }
      }
    }
  }
}

.k-grid {
  font-family: 'Open Sans', sans-serif !important;
  max-width: 100%;
  border: none;
  width: 100%;
  th {
    color: black !important;
    box-shadow: none !important;
  }
  .input-radio {
    >label {
      vertical-align: top;
      &:after,
      &:before {
        box-sizing: border-box;
      }
    }
  }
  .input-check {
    label {
      vertical-align: top;
      &:before {
        box-sizing: border-box;
      }
    }
  }
  tr {
    position: relative;
    td {
      vertical-align: text-top;
      padding: 3px 15px !important;
      box-shadow: none !important;
      p {
        margin-bottom: 0 !important;
      }
      &.show-external {
        position: relative;
        overflow: visible;
        .external-item {
          z-index: 999;
          cursor: pointer;
          position: absolute;
          left: -10px;
          top: 10px;
          font-size: 14px;
          color: $secondary-text-color;
        }
      }
      &.last-col {
        position: relative;
        overflow: visible;
      }
    }
    &:hover {
      td {
        border-bottom-color: white;
        &:first-child {
          position: relative;
        }
      }
    }
  }
  th {
    color: $thead-font-color;
    font-size: $thead-font-size;
    font-weight: $thead-font-weight;
  }
  tr {
    &.k-alt {
      background: white;
    }
    td {
      border: none;
      color: black;
      padding: 7px 15px;
      border-bottom: 1px solid transparent;
      vertical-align: middle;
    }
    &.k-grid-norecords {
      text-align: center;
      td {
        text-transform: uppercase;
        font-size: 16px;
        color: #C1C1C1;
        font-weight: 700;
        &:before {
          display: none;
        }
      }
    }
    &.k-grid-edit-row {
      background: $selected-row-background-color;
      td {
        vertical-align: middle;
      }
    }
    &.selected {
      td {
        .inner-td {
          background: $row-hover-background-color !important;
        }
        &:first-child {
          position: relative;
        }
      }
      &:hover {
        td {
          .inner-td {
            background: $selected-row-background-color !important;
          }
        }
      }
    }
  }
  &.no-border {
    border: none;
    .k-grid-header {
      border: none;
    }
    th {
      border: none;
    }
  }
  .k-grid-header-wrap {
    border: none;
  }
  &.list-page-grid {
    .k-grid-header {
      th {
        padding-left: 15px !important;
        padding-right: 15px !important;
      }
    }
    .k-grid-header {
      background: #F3F5F9;
    }
    .k-header {
      .input-check {
        position: relative;
      }
    }
    tr {
      td {
        padding: 0 !important;
        border-bottom: 1px solid #EEEEEE;
        .inner-td {
          position: relative;
          margin: 1px 0;
          height: 31px;
          cursor: pointer;
          padding: 3px 15px !important;
          @include flex();
          @include css3-prefix('justify-content', 'flex-start');
          @include css3-prefix('align-items', 'center');
          @include css3-prefix('flex-direction', 'row');
          .form-group {
            * {
              box-sizing: border-box;
            }
          }
        }
        .wrapper-td {
          padding-left: 10px !important;
          padding-right: 10px !important;
          input,
          .btn {
            display: inline-block;
          }
          .btn {
            margin-top: 2px;
          }
        }
        .row-btn-block,
        .row-action-btn {
          opacity: 0;
          &:focus {
            outline: none;
          }
        }
      }
      &.k-grid-norecords {
        td {
          padding: 100px 50px !important;
        }
      }
      &:hover {
        td {
          .inner-td {
            background: $row-hover-background-color;
            .input-check {
              &:not(.disabled) {
                input[type="checkbox"] {
                  ~label {
                    &:before {
                      border-color: $theme-color;
                    }
                  }
                }
              }
            }
          }
          .row-btn-block,
          .row-action-btn {
            opacity: 1;
          }
        }
      }
      &.selected {
        &:hover {
          td {
            .inner-td {
              background: $selected-row-background-color;
            }
          }
        }
      }
    }
    &.sort-disabled {
      th {
        padding: 13px 15px;
        position: relative;
        &:before {
          content: '';
          left: 0;
          top: 10px;
          bottom: 10px;
          width: 1px;
          position: absolute;
          z-index: 99;
          left: 0;
          z-index: 1;
          background: #CCCCCC;
        }
        &.th-checkbox {
          padding-left: 15px;
          padding-right: 5px;
          &:before {
            display: none;
          }
        }
      }
    }
  }
  &.side-panel-list {
    .k-grid-header {
      th {
        padding-left: 15px !important;
        padding-right: 15px !important;
      }
    }
    .k-grid-header {
      background: white;
      border: none !important;
      .k-link {
        &:before {
          display: none;
        }
      }
    }
    .k-header {
      .input-check {
        position: relative;
      }
    }
    tr {
      td {
        padding: 0 !important;
        border-bottom: 1px solid white;
        .inner-td {
          margin: 0;
          height: 31px;
          cursor: pointer;
          padding: 3px 15px !important;
          @include flex();
          @include css3-prefix('justify-content', 'flex-start');
          @include css3-prefix('align-items', 'center');
          @include css3-prefix('flex-direction', 'row');
          .form-group {
            * {
              box-sizing: border-box;
            }
          }
        }
        .wrapper-td {
          padding-left: 10px !important;
          padding-right: 10px !important;
          input,
          .btn {
            display: inline-block;
          }
          .btn {
            margin-top: 2px;
          }
        }
        .row-btn-block,
        .row-action-btn {
          opacity: 0;
          &:focus {
            outline: none;
          }
        }
      }
      &.k-grid-norecords {
        td {
          padding: 100px 50px !important;
        }
      }
      &:hover {
        td {
          .inner-td {
            background: $row-hover-background-color;
            .input-check {
              &:not(.disabled) {
                input[type="checkbox"] {
                  ~label {
                    &:before {
                      border-color: $theme-color;
                    }
                  }
                }
              }
            }
          }
          .row-btn-block,
          .row-action-btn {
            opacity: 1;
          }
        }
      }
      &.selected {
        &:hover {
          td {
            .inner-td {
              background: $selected-row-background-color;
            }
          }
        }
      }
    }
  }
  &.drag-drop-grid {
    .k-grid-header {
      border: none !important;
      background: #FFFFFF;
      .k-i-sort-asc-sm,
      .k-i-sort-desc-sm {
        top: 10px;
      }
      .k-header {
        >.k-link {
          padding: 10px 15px !important;
          &:before {
            display: none;
          }
        }
      }
    }
    tr {
      td {
        border-bottom-color: white;
        .row-btn-block,
        .row-action-btn {
          opacity: 1;
        }
        .inner-td {
          background: $selected-row-background-color !important;
          margin: 0;
          height: 34px;
        }
      }
    }
  }
  &.read-only-grid {
    .k-grid-header {
      border: none !important;
      background: #FFFFFF;
      .k-header {
        >.k-link {
          padding: 6px 15px !important;
        }
      }
    }
    tr {
      td {
        border-bottom-color: white;
        .inner-td {
          background: $selected-row-background-color !important;
          margin: 0;
        }
      }
    }
  }
  &.white-header {
    .k-grid-header {
      background: #FFFFFF;
      border: none !important;
    }
  }
  &.gray-rows {
    tr {
      td {
        border-bottom: 1px solid #ffffff;
        background: #f3f5f9;
      }
    }
  }
  &.p20-grid {
    .k-grid-header {
      .k-header {
        >.k-link {
          margin: -8px -20px !important;
          padding: 13px 20px !important;
        }
      }
    }
    .k-grid-header {
      th {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
    }
    tr {
      td {
        .inner-td {
          padding: 3px 20px !important;
        }
      }
    }
  }
}

.k-input.k-textbox,
.k-textarea,
.k-textbox {
  padding: 6px 8px;
}

.list-page-grid .k-grid th {
  padding-left: 15px;
  padding-right: 15px;
}

.k-input.k-textbox.k-state-hover,
.k-input.k-textbox:hover,
.k-textarea.k-state-hover,
.k-textarea:hover,
.k-textbox.k-state-hover,
.k-textbox:hover {
  border-color: $theme-color;
}

.k-input.k-textbox.k-state-focus,
.k-input.k-textbox:focus,
.k-textarea.k-state-focus,
.k-textarea:focus,
.k-textbox.k-state-focus,
.k-textbox:focus {
  color: $input-font-color;
  border-color: $theme-color;
  box-shadow: none;
}

.k-grid-content {
  overflow-y: scroll;
  .k-button {
    margin: 0;
  }
  tr {
    &:hover {
      &.k-grid-norecords {
        background: transparent !important;
      }
    }
  }
}

.action-td {
  .btn {
    font-size: 14px;
  }
  .btn+.btn {
    margin-left: 7px;
  }
}

.k-i-arrow-end-left,
.k-i-seek-w {
  &:before {
    content: "\e927";
    font-family: $icon-font-family;
  }
}

.k-i-arrow-end-right,
.k-i-seek-e {
  &:before {
    content: "\e928";
    font-family: $icon-font-family;
  }
}

.k-i-arrow-60-left,
.k-i-arrow-w,
.k-i-sarrow-w,
.k-i-expand-w {
  &:before {
    content: "\e930";
    font-family: $icon-font-family;
  }
}

.k-i-arrow-60-right,
.k-i-arrow-e,
.k-i-sarrow-e,
.k-i-expand,
.k-i-expand-e {
  &:before {
    content: "\e92f";
    font-family: $icon-font-family;
  }
}

.k-i-sort-asc-sm:before {
  content: "\e93b";
  font-family: $icon-font-family;
}

.k-i-sort-desc-sm:before {
  content: "\e93a";
  font-family: $icon-font-family;
}

.k-icon {
  font-size: 12px;
}

.k-grid-header .k-i-sort-asc-sm,
.k-grid-header .k-i-sort-desc-sm,
.k-grid-header .k-sort-order {
  color: #C8CED1;
  font-size: 9px;
  margin-top: 3px !important;
}

.k-pager-nav {
  color: $secondary-text-color !important;
}

.k-pager-wrap .k-link,
.k-pager-wrap .k-state-selected {
  padding: 0;
  text-align: center;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  font-size: 11px;
  margin: 0 5px;
  vertical-align: middle;
  &:hover {
    background: transparent;
  }
}

.k-pager-numbers .k-link,
.k-pager-numbers .k-link:link {
  color: #000000;
  &:hover {
    background: transparent;
  }
}

.k-pager-wrap .k-link:focus,
.k-pager-wrap .k-pager-nav:focus {
  box-shadow: none;
}

.k-state-selected {
  background-color: $theme-color;
  &:hover {
    background-color: $theme-color !important;
  }
}

.k-grid-pager {
  padding: 10px 20px;
  background-color: white;
  border-color: $border-color;
}

.has-sticky-pager {
  .k-grid-pager {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .k-grid {
    position: static;
    width: 100%;
    height: 100%;
  }
}

.k-pager-wrap .k-pager-info {
  margin-right: 0;
}

.k-loading-pdf-mask {
  display: none;
}

.k-pager-wrap .k-pager-input .k-textbox {
  margin: 0 12px;
  width: 45px;
  text-align: center;
}

.k-column-resizer {
  cursor: e-resize !important;
}

// Kendo Calendar Override
.k-datepicker {
  border: none;
  .k-picker-wrap {
    border: none;
    border: 1px solid $input-border-color;
    border-radius: $input-border-radius;
    .k-dateinput-wrap {
      .k-input {
        padding: 0 10px;
        font-size: $input-font-size;
        line-height: normal;
        color: $input-font-color;
        font-weight: $input-font-weight;
        background-color: $input-background-color;
        background-image: none;
        background-clip: padding-box;
        height: 30px;
        text-transform: initial;
        &::-webkit-input-placeholder {
          color: $input-placeholder-color;
        }
        &::-moz-placeholder {
          color: $input-placeholder-color;
        }
        &:-ms-input-placeholder {
          color: $input-placeholder-color;
        }
        &:-moz-placeholder {
          color: $input-placeholder-color;
        }
      }
      &.k-state-focused {
        box-shadow: none;
      }
    }
    .k-select {
      width: 32px;
      height: 30px;
      background: #F6F7F9;
      border-left: 1px solid $input-border-color;
      .k-icon {
        font-size: 12px;
        font-family: 'OmniBees' !important;
        &.k-i-calendar {
          &:before {
            content: "\e917";
          }
        }
      }
    }
    &:hover,
    &.k-state-focused {
      border-color: $input-focus-border-color;
      outline: none;
      box-shadow: none;
      .k-select {
        border-left-color: $input-focus-border-color;
      }
    }
  }
}

// Kendo Timepicker Override
.k-timepicker {
  border: none;
  .k-picker-wrap {
    border: none;
    border: 1px solid $input-border-color;
    border-radius: $input-border-radius;
    .k-dateinput-wrap {
      .k-input {
        padding: 0 10px;
        font-size: $input-font-size;
        line-height: normal;
        color: $input-font-color;
        font-weight: $input-font-weight;
        background-color: $input-background-color;
        background-image: none;
        background-clip: padding-box;
        height: 30px;
        &::-webkit-input-placeholder {
          color: $input-placeholder-color;
        }
        &::-moz-placeholder {
          color: $input-placeholder-color;
        }
        &:-ms-input-placeholder {
          color: $input-placeholder-color;
        }
        &:-moz-placeholder {
          color: $input-placeholder-color;
        }
      }
      &.k-state-focused {
        box-shadow: none;
      }
    }
    .k-select {
      width: 32px;
      height: 30px;
      background: #F6F7F9;
      border-left: 1px solid $input-border-color;
      .k-icon {
        font-size: 12px;
        font-family: 'OmniBees' !important;
        &.k-i-clock {
          &:before {
            content: "\e938";
          }
        }
      }
    }
    &:hover,
    &.k-state-focused {
      border-color: $input-focus-border-color;
      outline: none;
      box-shadow: none;
      .k-select {
        border-left-color: $input-focus-border-color;
      }
    }
  }
}

.k-calendar-navigation .k-content li:focus {
  outline: none;
}

.k-calendar .k-calendar-navigation .k-content>ul>li:hover,
.k-calendar .k-content .k-today,
.k-calendar-header .k-today {
  color: $theme-color;
}

.error {
  .k-datepicker {
    .k-picker-wrap {
      border-color: $red !important;
      .k-select {
        border-left-color: $red !important;
      }
    }
  }
}

.k-grid {
  tr {
    td {
      .wrapper-td {
        .form-group {
          box-sizing: border-box;
          * {
            box-sizing: border-box;
          }
          .btn {
            margin: 0 !important;
          }
        }
      }
    }
  }
}

.k-grid-aria-root {
  width: 100%;
  height: 100%;
}

.k-time-header .k-time-now {
  color: $theme-color;
}

.k-time-list .k-item:hover {
  color: $theme-color;
}

.k-time-header .k-time-now:hover {
  color: darken($theme-color, 5%);
  background-color: transparent;
}

.k-action-buttons .k-primary {
  color: $theme-color;
}

.k-action-buttons .k-primary:hover {
  background-color: $theme-color;
}

.text-lowercase .k-input {
  text-transform: lowercase !important;
}


.drag-drop-kendo-list {
  .k-grid {
    &.list-page-grid {
      tr {
        td {
          border: none;
          .inner-td {
            height: 29px;
            margin: 0;
            .row-action-btn {
              line-height: 13px;
            }
          }
        }
        &:hover {
          td {
            .inner-td {
              background: #F3F5F9;
            }
          }
        }
        &.k-state-selected {
          background: #F3F5F9 !important;
        }
      }
    }
  }
}
