/* ======================================= Language Selector Style ======================================= */

.language-group {
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      display: inline-block;
      width: $language-option-width;
      height: $language-option-height;
      position: relative;
      @include transition(0.15s linear);
      cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        width: $language-option-width;
        height: $language-option-height;
        border: 1px solid $language-option-border-color;
        border-radius: 50%;
        @include transition(0.15s linear);
      }
      a {
        display: block;
        width: $language-option-width;
        height: $language-option-height;
        position: relative;
        border: 2px solid transparent;
        img {
          border: 2px solid white;
          border-radius: 50%;
          width: 100%;
          position: relative;
          z-index: 10;
          min-width: 24px;
          min-height: 20px;
          line-height: 20px;
          text-align: center;
        }
      }
      &.active,
      &:hover {
        @include transition(0.15s linear);
        &:before {
          border-width: 2px;
          @include transition(0.15s linear);
        }
      }
      &.translated {
        a {
          &:before {
            content: '';
            width: 6px;
            height: 3px;
            position: absolute;
            right: -1px;
            top: 0px;
            border: 1px solid white;
            border-top: none;
            border-right: none;
            z-index: 101;
            @include transform(rotate(-45deg));
          }
          &:after {
            content: '';
            position: absolute;
            left: auto;
            right: -5px;
            top: -5px;
            font-size: 6px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: $green;
            text-align: center;
            line-height: 11px;
            border: 2px solid white;
            z-index: 99;
          }
        }
      }
      &.disabled {
        cursor: not-allowed;
        &:before {
          border: 1px solid $disabled-language-option-border-color !important;
          background: $disabled-language-option-background-color !important;
        }
        a {
          img {
            opacity: 0.2;
          }
        }
      }
      +li {
        margin-left: 7px
      }
    }
  }
}
