.filter-options {
  background: white;
  border: 1px solid $ob-border-color;
  border-radius: 3px;
  .btn-link {
    color: $theme-color;
    &:hover {
      text-decoration: none;
      span {
        text-decoration: none;
      }
    }
  }
}

.res-status {
  padding: 4px 5px;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid $ob-input-border-color;
  border-radius: 2px;
  i {
    font-size: 8px;
    margin-right: 3px;
    display: inline-block;
  }
  span {
    display: inline-block;
  }
  &.booked,
  &.modified,
  &.accepted-on-request {
    i {
      color: #1BC134;
    }
  }
  &.cancelled,
  &.refused-on-request,
  &.cancelled-on-request,
  &.channel-cancel-on-request {
    i {
      color: #FF2E2E;
    }
  }
  &.pending,
  &.cancel-pending {
    i {
      color: #FFA42E;
    }
  }
  &.booking-on-request {
    i {
      color: #0C83D9;
    }
  }
}

.res-wrapper-content {
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    background: white;
    border: 5px solid #F3F5F9;
  }
  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  &::-webkit-scrollbar-thumb {
    &:vertical {
      background: #DDE1E3;
      border-left: 3px solid #F3F5F9;
      border-right: 3px solid #F3F5F9;
      border-radius: 4px;
    }
  }
  .wrapper-child {
    &::-webkit-scrollbar-track {
      background: white;
      border: 5px solid #F3F5F9;
    }
    &::-webkit-scrollbar:horizontal {
      height: 11px;
    }
    &::-webkit-scrollbar-thumb {
      &:vertical {
        background: #DDE1E3;
        border-left: 3px solid #F3F5F9;
        border-right: 3px solid #F3F5F9;
        border-radius: 4px;
      }
    }
  }
}

.manage-reservation-wrapper-child {
  border-radius: 3px;
  background: white;
  border: 1px solid $ob-border-color;
  .has-border {
    border: 1px solid $ob-border-color !important;
    border-radius: 3px;
  }
}

.tile-with-icon {
  padding: 0 20px;
  border-right: 1px solid $ob-border-color;
  .tile-wrapper {
    position: relative;
    padding-left: 30px;
    .tile-icon {
      font-size: 20px;
      color: $ob-secondary-color;
      position: absolute;
      left: 0;
      top: 3px;
    }
    .tile-details {
      p {
        margin: 0;
      }
      h4 {
        color: $ob-text-color;
        font-size: 13px;
        margin: 0;
        margin-top: 3px;
        font-weight: 700;
      }
    }
  }
}

.tile-row {
  padding: 20px 0;
  [class*=col-] {
    &:last-child {
      .tile-with-icon {
        border-right: none;
      }
    }
  }
}

.source-payment-card {
  padding: 20px 30px 25px;
  .card-title {
    font-size: 11px;
    font-weight: 700;
    margin: 0 0 5px;
    text-transform: uppercase;
    color: $ob-secondary-color;
  }
  .card-wrapper {
    border: 1px solid $ob-border-color;
    border-radius: 3px;
    padding: 20px;
    .row {
      .title,
      .value {
        p {
          margin: 0;
        }
      }
      .title {
        width: 100px;
        max-width: 100px;
      }
      .value {
        padding: 0 0 0 5px;
      }
      +.row {
        margin-top: 3px;
      }
    }
  }
}

.ob-capsule {
  background: #F3F5F9;
  border: 1px solid $ob-border-color;
  padding: 4px 5px;
  display: inline-block;
  border-radius: 3px;
  position: relative;
  padding-left: 26px;
  i {
    position: absolute;
    left: 5px;
    top: 4px;
    font-size: 16px;
  }
  p {
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    margin: 0;
  }
  &.warning-capsule {
    background: transparentize(#CF990D, 0.9);
    border: 1px solid transparentize(#CF990D, 0.75);
    i {
      color: #CF990D;
    }
  }
  &.info-capsule {
    background: transparentize(#0C83D9, 0.9);
    border: 1px solid transparentize(#0C83D9, 0.75);
    i {
      color: #0C83D9;
    }
  }
}

.credit-card-wrapper {
  display: inline-block;
  border: 1px solid $ob-border-color;
  padding: 10px 10px 10px 15px;
  border-radius: 5px;
  min-height: 125px;
  .btn-link {
    font-size: 10px;
    font-weight: 700;
    text-decoration: none;
    height: 24px;
    line-height: 24px;
    &:hover {
      span {
        text-decoration: none;
      }
    }
  }
  .card-image {
    img {
      max-height: 23px;
    }
  }
}

.other-details-card {
  padding: 30px;
  .card-table {
    width: 100%;
    tr {
      td {
        padding: 20px;
        border: 1px solid $ob-border-color;
        vertical-align: top;
      }
      // &:first-child {
      //   td {
      //     &:first-child {
      //       border-radius: 3px 0 0 0;
      //     }
      //     &:last-child {
      //       border-radius: 0 3px 0 0;
      //     }
      //   }
      // }
      // &:last-child {
      //   td {
      //     &:first-child {
      //       border-radius: 0 0 0 3px;
      //     }
      //     &:last-child {
      //       border-radius: 0 0 3px 0;
      //     }
      //   }
      // }
    }
    .title-cell {
      background: $ob-hover-background-color;
      width: 309px;
      min-width: 309px;
      max-width: 309px;
    }
    .value-cell {
      font-weight: 700;
    }
  }
  .card-body {
    &.gray-white-card {
      padding: 0;
      border: 1px solid $ob-border-color;
      border-radius: 3px;
      .section-left,
      .section-right {
        .row {
          margin-right: -20px;
          margin-left: -20px;
          >[class*=col-] {
            padding-right: 20px;
            padding-left: 20px;
          }
        }
      }
      .section-left {
        width: 309px;
        padding: 20px;
        padding-bottom: 30px;
        background: $ob-hover-background-color;
        border-right: 1px solid $ob-border-color;
        p {
          font-size: 11px;
          font-weight: 400;
          color: $ob-text-color;
          margin: 0;
        }
        h5 {
          font-size: 13px;
          font-weight: 700;
          color: $ob-text-color;
          margin: 3px 0 0;
        }
        .row+.row {
          margin-top: 20px;
        }
      }
      .section-right {
        padding: 20px;
        .group-title {
          font-size: 11px;
          color: $ob-secondary-color;
          font-weight: 700;
          margin-bottom: 20px;
          text-transform: uppercase;
        }
        .detail-row {
          ul {
            padding: 0;
            margin: 0;
            list-style: disc;
            padding-left: 15px;
          }
          .title,
          .value {
            p {
              margin: 0;
            }
          }
          .title {
            width: 104px;
            max-width: 104px;
          }
          .value {
            padding: 0 0 0 5px;
          }
          +.row {
            margin-top: 8px;
          }
        }
      }
    }
  }
  .room-types-container {
    .room-type-card {
      .btn-view-details {
        font-size: 10px;
        text-decoration: none;
        font-weight: 700;
        i {
          display: inline-block;
          font-size: 12px;
          @include transform(rotate(0deg));
          @include transition(0.15s linear);
        }
        &.collapsed {
          i {
            @include transform(rotate(180deg));
            @include transition(0.15s linear);
          }
        }
      }
      .base-currency {
        color: $ob-button-border-color;
      }
      .converted-currency {
        color: $ob-text-color;
      }
      .base-currency,
      .converted-currency {
        text-align: right;
        width: 100px;
        h5 {
          font-size: 11px;
          font-weight: 700;
          margin: 0;
        }
      }
      .card-header {
        background: white;
        padding: 6px 20px;
        border: 1px solid $ob-border-color;
        border-radius: 3px 3px 0 0;
        &.collapsed {
          background: $ob-hover-background-color;
        }
        .btn-cancelled {
          background: #DDE1E3;
          border: none;
          padding: 0 8px;
          font-weight: 700;
          font-size: 11px;
          height: 25px;
          line-height: 25px;
          border-radius: 2px;
          color: $ob-text-color;
        }
        .base-currency,
        .converted-currency {
          h5 {
            font-size: 12px;
          }
        }
        h4 {
          margin: 8px 0;
          font-size: 14px;
          font-weight: 700;
          color: $ob-text-color;
        }
        .btn-card-header {
          margin: 0;
          font-size: 13px;
          font-weight: 700;
          color: $ob-primary-color;
          display: table;
          text-align: left;
          line-height: 1.5;
          padding-left: 25px;
          text-decoration: none;
          position: relative;
          span {
            text-decoration: none !important;
          }

          i {
            position: absolute;
            left: 0px;
            top: 12px;
          }
          span {
            &.date-period {
              display: block;
              margin: 0;
              font-size: 11px;
              font-weight: 700;
              color: $ob-text-color;
              line-height: 1.5;
            }
          }
        }
      }
      .card-body {
        padding: 0;
        border-radius: 0 0 3px 3px;
        border-top: none;
        .section-right {
          .price-breakup-row {
            padding-top: 15px;
            padding-bottom: 5px;
            border-bottom: 1px solid $ob-border-color;
          }
          h6 {
            font-size: 11px;
            font-weight: 700;
            color: $ob-text-color;
            margin: 0;
          }
          p {
            font-size: 11px;
            font-weight: 400;
            color: $ob-text-color;
            margin: 0;
          }
          .total-row {
            padding-top: 15px;
          }
        }
      }
      +.room-type-card {
        margin-top: 30px;
      }
    }
  }
}
