/* ======================================= Modals Style ======================================= */

.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    @include flex();
    @include css3-prefix('justify-content', 'center');
    @include css3-prefix('align-items', 'center');
    @include css3-prefix('flex-direction', 'column');
}

.modal-dialog {
    min-width: 500px;
    margin: 0;
}

.modal-content {
    background-color: $modal-background-color;
    border-color: $modal-border-color;
    border-radius: $modal-border-radius;
}

.modal-header {
    padding: $modal-body-padding;
    border: none;
    .modal-text {
        padding-left: 20px;
        h4 {
            font-size: $modal-heading-font-size;
            font-weight: $modal-heading-font-weight;
            color: $modal-heading-font-color;
        }
    }
    .modal-icon {
        width: 48px;
        i {
            font-size: 48px;
        }
    }
}

.modal-body {
    margin: $modal-body-padding;
    margin-top: 0;
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 10px;
    max-height: 120px;
    overflow-y: auto;
    &.no-body-style {
        padding: 0;
        border: none;
        max-height: none;
        overflow-x: hidden;
    }
}

.modal-footer {
    border-top: none;
    padding: $modal-footer-padding;
    background: transparentize($modal-footer-background-color, (1 -$modal-footer-background-opacity));
}

.modal {
    @each $type,
    $value in $modal-variant {
        &.modal-#{$type} {
            @include modal-variant($value);
        }
    }
}

#errorBtn {
    display: none;
}