.ng2-tag-input {
    border: 1px solid $ob-input-border-color !important;
    padding: 4px 5px 0 !important;
    border-radius: 2px;
    &:hover,
    &.ng2-tag-input--focused {
        border-color: $theme-color !important;
    }
    &.ng2-tag-input--invalid {
        border: 1px solid $red !important;
    }
    .ng2-tags-container {
        tag {
            padding: 4px;
            border-radius: 3px;
            background: transparentize(#DDE1E3, 0.5);
            margin: 0 5px 4px 0;
            font-size: 10px;
            height: 22px;
            color: $ob-text-color !important;
            letter-spacing: inherit;
            .tag-wrapper {
                .tag__text {
                    line-height: 14px;
                }
                delete-icon {
                    width: 15px;
                    height: 15px;
                    margin-left: 5px;
                    position: relative;
                    &:after {
                        font-family: 'omni-icons' !important;
                        content: '\e90c';
                        font-size: 14px;
                        color: $ob-disable-text-color;
                        position: absolute;
                        top: 0;
                        right: 0;
                        line-height: 15px;
                    }
                    span {
                        display: none;
                    }
                    &:hover {
                        transform: none !important;
                    }
                }
            }
            &:hover,
            &:focus {
                background: transparentize(#DDE1E3, 0.5) !important;
                color: $ob-text-color !important;
            }
            tag-ripple {
                display: none !important;
            }
        }
        .ng2-tag-input__text-input {
            height: 22px;
        }
    }
}