/* ======================================= Modals Style ======================================= */

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  opacity: 0;
  transition: opacity .15s linear;
  &.show {
    display: block;
    opacity: 1;
    transition: opacity .15s linear;
  }
}

.popup-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparentize(#323A43, 0.5);
  @include flex();
  @include css3-prefix('justify-content', 'center');
  @include css3-prefix('align-items', 'center');
  @include css3-prefix('flex-direction', 'column');
}

.popup-dialog {
  width: 400px;
  min-height: 250px;
  background: white;
  @include box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.5));
}

.popup-content {
  background: white;
  .popup-header {
    position: relative;
    padding: 0 25px;
    border-bottom: 1px solid $border-color;
    h4 {
      font-size: 12px;
      color: #000000;
      font-weight: 700;
      margin: 0;
      line-height: 48px;
      display: inline-block;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        bottom: -1px;
        left: 0;
        right: 0;
        border-bottom: 2px solid $gold;
      }
    }
    .btn-close {
      position: absolute;
      right: 10px;
      top: 13px;
      width: 24px;
      height: 24px;
      border: 2px solid transparent;
      text-decoration: none;
      line-height: 22px;
      @include transition(0.15s linear);

      i {
        color: rgba(0, 0, 0, 0.54);
        font-size: 12px;
      }
      &:hover {
        @include transition(0.15s linear);
        border-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  .popup-body {
    position: relative;
    padding: 20px;
  }
}
