.amenities-list {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: block;
    +li {
      margin-top: 20px;
    }
  }
}

.property-amenities {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: block;
    +li {
      margin-top: 25px;
    }
  }
}

.status-history-block {
  border-bottom: 1px solid $border-color;
  margin-bottom: 20px;
  padding-bottom: 10px;
  .change-date {
    font-size: 11px;
    font-weight: 700;
    color: $gold;
  }
  p {
    margin-bottom: 10px;
  }
  .value {
    p {
      font-weight: 700;
    }
    .ai-status {
      margin-right: 10px;
    }
  }
}

.replicate-listing {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: block;
    width: 100%;
    .form-group {
      .input-check {
        label {
          font-weight: 400;
        }
      }
    }
    &.has-child {
      >.form-group {
        .input-check {
          label {
            font-weight: 700;
          }
        }
      }
    }
    +li {
      margin-top: 15px;
    }
    ul {
      padding-left: 20px;
      margin-top: 15px;
    }
  }
}

.steps-wrapper {
  ul {
    padding-left: 20px;
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
      margin-left: 8px;
      a {
        padding: 3px 0;
        padding-left: 32px;
        position: relative;
        padding-right: 30px;
        color: #CCCCCC !important;
        font-size: 12px;
        font-weight: 700;
        display: inline-block;
        cursor: not-allowed;
        &:after {
          content: '';
          width: 20px;
          position: absolute;
          right: 0;
          height: 1px;
          background: $border-color;
          top: 50%;
        }
        &:before {
          content: '';
          width: 24px;
          height: 24px;
          background: #CCCCCC;
          border-radius: 50%;
          color: #FFFFFF;
          position: absolute;
          left: 0;
          top: 0;
          text-align: center;
          line-height: 24px;
        }
      }
      &:nth-child(1) {
        a {
          &:before {
            content: '1';
          }
        }
      }
      &:nth-child(2) {
        a {
          &:before {
            content: '2';
          }
        }
      }
      &:nth-child(3) {
        a {
          &:before {
            content: '3';
          }
        }
      }
      &:nth-child(4) {
        a {
          &:before {
            content: '4';
          }
        }
      }
      &:nth-child(5) {
        a {
          &:before {
            content: '5';
          }
        }
      }
      &:nth-child(6) {
        a {
          &:before {
            content: '6';
          }
        }
      }
      &:nth-child(7) {
        a {
          &:before {
            content: '7';
          }
        }
      }
      &:last-child {
        a {
          padding-right: 0;
          &:after {
            display: none;
          }
        }
      }
      &.current {
        a {
          color: #000000 !important;
          cursor: pointer;
          &:before {
            background: $gold;
          }
        }
      }
      &.completed {
        a {
          color: #000000 !important;
          cursor: pointer;
          &:before {
            background: $green;
            content: '\e925';
            font-family: $icon-font-family;
          }
        }
      }
    }
  }
}

.step-count {
  font-weight: 700;
  font-size: 12px;
  color: $secondary-text-color;
  margin: 0;
}

.steps-content-wrapper {
  .step-block {
    .step-wrapper-child {
      position: relative;
      .step-inner-content {
        .side-section {
          padding-left: 0;
          padding-top: 20px;
          border-right: 1px solid $border-color;
        }
        .main-content {
          padding-top: 20px;
          padding-left: 20px;
          padding-right: 0;
          .full-display-block {
            .content-wrapper {
              top: 0;
              border: none;
            }
          }
        }
      }
    }
  }
}

.other-currencies-wrapper {
  .bordered-wrapper {
    border: 1px solid $ob-border-color;
  }
}