.loyalty-btn {
  i {
    color: #CCCCCC !important;
  }
  &.selected {
    i {
      color: $green !important;
    }
  }
}

.rate-code-setup-wrapper {
  .side-section {
    width: 260px;
    max-width: 260px;
    min-width: 260px;
    padding: 10px;
    border-right: 1px solid $border-color;
    .button-wrapper {
      border-bottom: 1px solid $border-color;
      padding-bottom: 10px;
      .btn {
        +.btn {
          margin-left: 10px;
        }
      }
    }
    .directory-list {
      .dropdown {
        display: inline-block;
      }
      .dropdown-menu {
        >ul {
          display: block;
        }
      }
      .dropdown-item {
        padding: 10px;
        height: auto;
      }
      .btn-wrapper {
        padding: 8px;
        .btn-more-options {
          color: $theme-color;
          border: 1px solid $theme-color;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          padding: 0;
          line-height: 13px;
          text-align: center;
          i {
            font-size: 9px;
            margin: 0;
          }
        }
      }
      ul {
        .tag-wrapper {
          &:hover {
            .btn-wrapper {
              z-index: 999;
            }
          }
        }
      }
    }
  }
  .main-content {
    .page-header {
      border-bottom: 1px solid $border-color;
      height: auto;
    }
    .tiles-grid-wrapper {
      .rcs-block {
        background: #F3F5F9;
        border-radius: 3px;
        padding: 13px 15px;
      }
      .multiple-values {
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            display: inline-block;
            padding: 0 20px;
            h5 {
              font-size: 12px;
              color: $ob-primary-color;
              margin: 0 0 3px;
              font-weight: 700;
            }
            p {
              margin: 0;
              i {
                margin-right: 3px;
                &.obi {
                  &-variation-high {
                    color: $ob-success-color;
                  }
                  &-variation-low {
                    color: $ob-error-color;
                  }
                }
              }
            }
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
            +li {
              border-left: 1px solid $ob-input-border-color;
            }
          }
        }
      }
      .tiles-container {
        width: 683px;
        .scrollable-content {
          height: 100%;
          overflow: hidden;
          overflow-y: auto;
        }
        .row {
          margin-left: -5px;
          margin-right: -5px;
          [class^="col-"] {
            padding-left: 5px;
            padding-right: 5px;
          }
        }
        .tile-block {
          cursor: pointer;
          background: #F3F5F9;
          border: 1px solid #F3F5F9;
          border-radius: 3px;
          height: 95px;
          padding: 10px 15px;
          overflow: hidden;
          margin-bottom: 10px;
          padding-right: 8px;
          position: relative;
          @include transition(0.2s linear);
          .edit-btn {
            position: absolute;
            right: 25px;
            top: 5px;
            box-shadow: none !important;
            opacity: 0;
            @include transition(0.2s linear);
          }
          h5 {
            font-size: 12px;
            color: $theme-color;
            font-weight: 700;
            margin-bottom: 5px;
          }
          ul {
            padding: 0;
            padding-right: 7px;
            margin: 0;
            height: 58px;
            overflow: hidden;
            overflow-y: auto;
            &::-webkit-scrollbar-track {
              background: white;
              border-color: #F3F5F9;
            }
            &::-webkit-scrollbar-thumb {
              border-left-color: #F3F5F9;
              border-right-color: #F3F5F9;
            }
            li {
              p {
                margin: 0;
              }
              a {
                color: $theme-color;
                cursor: pointer;
              }
              +li {
                margin-top: 4px;
              }
            }
            &.tabular-data {
              li {
                display: table;
                width: 100%;
                clear: both;
                p {
                  float: left;
                  max-width: calc(100% - 65px);
                  @include text-truncate();
                  &.variation {
                    width: 65px;
                    float: right;
                    text-align: right;
                    .obi {
                      &-variation-high {
                        color: $ob-success-color;
                      }
                      &-variation-low {
                        color: $ob-error-color;
                      }
                    }
                  }
                }
              }
            }
          }
          &.large-block {
            height: 160px;
            ul {
              height: 120px;
            }
          }
          &:hover {
            border-color: white;
            @include transition(0.2s linear);
            box-shadow: 0 0 6px rgba(0, 0, 0, .14);
            .edit-btn {
              opacity: 1;
              @include transition(0.2s linear);
            }
          }
        }
      }
      .scrollable-tile-wrapper {
        overflow-x: auto;
        .tiles-container {
          min-width: 683px;
        }
      }
    }
  }
}

.imported-data {
  padding: 8px;
  background: #F3F5F9;
  position: relative;
  padding-right: 70px;
  p {
    margin: 0;
    @include text-truncate();
    span {
      &.value {
        font-weight: 700;
      }
      &.divider {
        margin: 0 7px;
      }
    }
  }
  .button-block {
    position: absolute;
    right: 5px;
    top: 2px;
  }
}


.k-grid.multiple-apply-grid .k-grid-header-wrap,
.multiple-apply-grid .k-grid-header .k-header {
  overflow: visible;
}

.k-grid.multiple-apply-grid .k-grid-header {
  background: #ffffff;
}

.multiple-apply-grid .k-grid-header .k-header>.k-link {
  margin: 0 -15px !important;
  padding: 0 !important;
}

.k-grid.multiple-apply-grid th {
  padding: 0;
}

.multiple-apply-grid .k-grid-header .k-header>.k-link:before {
  display: none;
}

.multiple-apply-grid .cbr-input .checkbox-wrapper>label:before {
  box-sizing: border-box;
}

.k-grid.multiple-apply-grid .cbr-input .checkbox-wrapper>label {
  vertical-align: top;
}

.k-grid.multiple-apply-grid a .input-th {
  height: 55px;
  text-align: right;
  padding: 10px;
}

.k-grid.multiple-apply-grid a .input-th * {
  box-sizing: border-box;
  outline: none;
}

.k-grid.multiple-apply-grid a .inner-td:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  bottom: 10px;
  width: 1px;
  z-index: 1;
  background: #CCCCCC;
}

.k-grid.multiple-apply-grid .k-grid-header .k-header:first-child .inner-td:before {
  display: none;
}

.k-grid.multiple-apply-grid a .inner-td {
  padding: 12px 15px;
  background: #f3f5f9;
  position: relative;
  border-bottom: 1px solid #eeeeee
}

.btn-apply {
  color: $theme-color;
  font-size: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  outline: none;
  font-weight: 700;
  float: right;
  padding: 0;
  margin-top: 5px;
  clear: both;
}

.btn-apply i {
  margin-right: 3px;
  vertical-align: middle;
  font-weight: 400;
}

.width-126 {
  width: 126px !important;
  min-width: 126px !important;
  max-width: 126px !important;
}
