.star-rating {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin-right: 6px;
      height: 16px;
      &.form-group {
        float: left;
        margin-top: 0;
        .input-check {
          padding: 0;
          label {
            padding: 0;
            &:after {
              display: none;
            }
            &:before {
              content: '\E907';
              font-family: $icon-font-family;
              font-size: 16px;
              color: #999999;
              line-height: 16px;
              font-weight: 400;
              width: auto;
              height: auto;
              position: relative;
              left: 0;
              top: 0;
              background: transparent !important;
              border: none;
              font-weight: 400;
            }
          }
          &:hover {
            label {
              &:before {
                color: $gold;
              }
            }
          }
          input[type="radio"] {
            &:checked {
              ~label {
                &:before {
                  content: '\e936';
                  color: $gold;
                }
              }
            }
          }
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &.read-only {
    ul {
      li {
        &.form-group {
          .input-check {
            input[type="radio"] {
              pointer-events: none;
            }
            &:hover {
              label {
                &:before {
                  color: #999999;
                  cursor: initial;
                }
              }
            }
          }
        }
      }
    }
  }
}

.diamond-rating {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin-right: 6px;
      height: 16px;
      &.form-group {
        float: left;
        margin-top: 0;
        .input-check {
          padding: 0;
          label {
            padding: 0;
            &:after {
              display: none;
            }
            &:before {
              display: inline-block;
              border-radius: 50%;
              content: '';
              width: 16px;
              height: 16px;
              position: relative;
              left: 0;
              top: 0;
              background: white;
              border: 2px solid #999999;
            }
          }
          &:hover {
            label {
              &:before {
                border-color: $gold !important;
              }
            }
          }
          input[type="radio"] {
            &:checked {
              ~label {
                &:before {
                  border-color: $gold !important;
                  background: $gold !important;
                }
              }
            }
          }
        }
      }
      &.click-disabled {
        .input-check {
          label {
            cursor: initial;
            &:before {
              cursor: not-allowed;
            }
          }
          &:hover {
            label {
              &:before {
                border-color: #999999 !important;
              }
            }
          }
          input[type="radio"] {
            pointer-events: none;
            cursor: not-allowed;
          }
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &.read-only {
    ul {
      li {
        &.form-group {
          .input-check {
            input[type="radio"] {
              pointer-events: none;
            }
            &:hover {
              label {
                &:before {
                  color: #999999;
                  cursor: initial;
                }
              }
            }
          }
        }
      }
    }
  }
}
