.rate-calendar-sidebar {
  width: 260px;
  float: left;
  border-right: 1px solid $border-color;
  .nav-tabs {
    &.linear-tabs {
      .nav-item {
        +.nav-item {
          margin-left: 20px;
        }
      }
    }
  }
  .directory-list {
    .tag-wrapper {
      >a {
        &.selected {
          background: $theme-color;
          color: white;
        }
      }
    }
  }
  ob-tree-view {
    width: 100%;
    display: table;
    clear: both;
  }
}

.calendar-wrapper {
  .button-wrapper {
    border-bottom: 1px solid $border-color;
    .btn-link {
      height: 32px;
      width: 32px;
      background: transparent;
      line-height: initial;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      outline: none;
      padding: 0;
      border: none;
      color: #454950;
      text-decoration: none;
      i {
        font-size: 17px;
        line-height: 32px;
      }
      &:hover,
      &.selected {
        color: $theme-color;
      }
    }
    .calendar-btn {
      position: relative;
      display: inline-block;
      width: 120px;
      vertical-align: middle;
      // .btn-sq {
      //   border-radius: 0;
      // }
      // .btn-calendar {
      //   height: 32px;
      //   position: relative;
      //   span {
      //     display: block;
      //     text-align: right;
      //     padding-right: 20px;
      //   }
      //   i {
      //     line-height: 30px;
      //     font-size: 10px;
      //     position: absolute;
      //     right: 10px;
      //     top: 0;
      //   }
      // }
      // .btn-group {
      //   position: absolute;
      //   left: 1px;
      //   top: 1px;
      //   bottom: 1px;
      //   .btn {
      //     background: transparent;
      //     height: 100%;
      //     padding: 0;
      //     line-height: 30px;
      //     font-size: 10px;
      //     text-align: center;
      //     width: 16px;
      //     i {
      //       color: $ob-disable-text-color;
      //     }
      //     &:disabled {
      //       background: transparent !important;
      //       border: none !important;
      //       i {
      //         color: $ob-button-border-color !important;
      //       }
      //     }
      //   }
      // }
    }
  }
  .days-wrapper {
    padding: 8px 0;
    border-bottom: 1px solid $border-color;
    .week-day {
      width: (100% / 7);
      float: left;
      padding: 0 10px;
      p {
        margin: 0;
      }
    }
  }
  .month-calendar {
    @include css3-prefix('align-content', 'stretch');
    @include css3-prefix('flex-wrap', 'wrap');
    @include flex();
    .day-block {
      border-left: 1px solid $border-color;
      border-top: 1px solid $border-color;
      float: left;
      width: (100% / 7);
      position: relative;
      padding: 10px;
      cursor: pointer;
      @include transition(0.15s linear);
      min-height: 95px;
      .btn-edit {
        font-size: 12px;
        color: $theme-color;
        position: absolute;
        right: 10px;
        top: 10px;
        opacity: 0;
        @include transition(0.15s linear);
      }
      p {
        margin: 0;
      }
      .btn-link {
        text-transform: uppercase;
        font-size: 9px;
        font-weight: 300;
        color: #454950;
        border: 1px solid $secondary-text-color;
        border-radius: 2px;
        line-height: 12px;
        padding: 0 3px;
        @include transition(0.15s linear);
        &:hover {
          color: $theme-color !important;
          border-color: $theme-color !important;
          @include transition(0.15s linear);
        }
      }
      .availability-icon {
        font-size: 8px;
        margin: 0 3px;
        &.stopped {
          color: $red;
        }
        &.available {
          color: $green;
        }
        &.partial {
          color: #FFAA00;
        }
        &.unavailable {
          color: #95989A;
        }
      }
      .price {
        margin-top: 5px;
        h4 {
          font-size: 15px;
          color: black;
          font-weight: 700;
        }
      }
      .allotment {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 10px;
        p {
          color: #2E2E2E;
          .title {
            width: 36px;
            display: inline-block;
          }
        }
      }
      &:nth-child(7n+1) {
        border-left: none;
      }
      &.past-day {
        background: transparentize(#F3F5F9, 0.3);
        .btn-link,
        .day-details p,
        .allotment p,
        .price h4 {
          color: #B7B8B8;
        }
        .btn-link {
          border-color: #B7B8B8;
        }
        .availability-icon {
          opacity: 0.3;
        }
      }
      &:hover,
      &.selected {
        @include box-shadow-spread(0, 0, 0, 1px, $theme-color, inset);
        @include transition(0.15s linear);
        .btn-edit {
          opacity: 1;
          @include transition(0.15s linear);
        }
      }
      &.multi-select {
        @include box-shadow-spread(0, 0, 0, 1px, $theme-color, inset);
        @include transition(0.15s linear);
        .btn-edit {
          opacity: 0;
        }
        &:hover {
          .btn-edit {
            opacity: 0;
          }
        }
        &.selected {
          .btn-edit {
            opacity: 1;
          }
        }
      }
    }
  }
  .six-month-view {
    .month-card {
      padding: 15px !important;
      margin: 0 auto;
      margin-bottom: 20px;
      cursor: pointer;
      max-width: 260px;
      .month-name {
        margin-bottom: 5px;
        font-size: 14px;
      }
      .days-wrapper {
        padding: 3px 0;
        border-bottom: none;
        .week-day {
          padding: 0 8px;
          text-align: right;
          p {
            color: $secondary-text-color;
            font-size: 12px;
          }
        }
      }
      .month-calendar {
        .day-block {
          border-color: white;
          padding: 2px;
          height: 30px;
          min-height: 30px;
          position: relative;
          &.event-day {
            &:before {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              width: 0;
              height: 0;
              border-top: 5px solid black;
              border-left: 5px solid transparent;
            }
          }
          .day-details {
            line-height: 1;
          }
          .day {
            line-height: 1;
            font-size: 10px;
          }
          .availability-icon {
            font-size: 5px;
            margin: 0 1px;
          }
          .price {
            margin: 2px 0 0;
            h4 {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

.label-info-tooltip {
  text-align: left !important;
  p {
    padding: 10px 5px;
    margin: 0;
    font-size: 11px;
    label {
      width: 8px;
      height: 8px;
      display: inline-block;
      margin: 0 8px 0 0;
      &.available {
        background: $green;
      }
      &.stopped {
        background: $red;
      }
      &.partial {
        background: #FFAA00;
      }
      &.unavailable {
        background: #95989A;
      }
    }
  }
}

.sp-event-block {
  padding: 20px 15px;
  p {
    margin-bottom: 5px;
    font-size: 12px;
  }
  h5 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .instruction {
    font-weight: bold;
    color: #2C2F33;
    &.percentage {
      color: $theme-color;
    }
  }
  +.sp-event-block {
    border-top: 1px solid $border-color;
  }
}

.event-detail-card {
  position: fixed;
  z-index: 1020;
  width: 380px;
  top: 150px;
  left: 25%;
  background: white;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  .card-header {
    background: #95989A;
    padding: 7px 17px;
    border: none;
    position: relative;
    .button-wrapper {
      position: absolute;
      top: 15px;
      right: 15px;
      .btn-link {
        font-size: 14px;
        cursor: pointer;
        color: white !important;
      }
    }
    h4 {
      font-size: 15px;
      font-weight: bold;
      margin: 2px 0;
    }
    p {
      margin-bottom: 0;
    }
    h4,
    p {
      color: white;
    }
  }
  .card-body {
    max-height: 365px;
    padding: 15px;
    overflow: hidden;
    overflow-y: auto;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      h4 {
        font-size: 11px;
        font-weight: bold;
        margin: 0 0 10px;
        text-transform: uppercase;
        color: #2C2F33;
      }
      li {
        p {
          font-size: 11px;
        }
        h6 {
          font-weight: bold;
          font-size: 11px;
        }
        h6,
        p {
          margin: 0;
          color: #2C2F33;
        }
      }
    }
    ul {
      &.prices {
        li {
          width: 53px;
          display: inline-block;
          margin-bottom: 10px;
          p {
            margin-bottom: 5px;
          }
        }
      }
      &.inline-list {
        margin-bottom: 15px;
        li {
          content: '';
          display: table;
          width: 100%;
          p {
            float: left;
            width: calc(100% - 45px);
          }
          h6 {
            float: right;
            width: 45px;
            text-align: right;
            line-height: 16px;
          }
          +li {
            margin-top: 8px;
          }
        }
      }
      &.event-list {
        margin-bottom: 15px;
        li {
          margin-bottom: 10px;
          padding-left: 10px;
          position: relative;
          &:before {
            content: '';
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background: black;
            position: absolute;
            left: 0;
            top: 6px;
          }
        }
      }
    }
  }
  &.available {
    .card-header {
      background: $green;
    }
  }
  &.stopped {
    .card-header {
      background: $red;
    }
  }
  &.partial {
    .card-header {
      background: #FFAA00;
    }
  }
  &.unavailable {
    .card-header {
      background: #95989A;
    }
  }
}

.btn-primary-effect {
  &:hover {
    border-color: $ob-primary-color !important;
    box-shadow: none !important;
    i {
      color: $ob-primary-color !important;
    }
  }
  &.selected {
    border-color: $ob-primary-color !important;
    background: $ob-primary-color !important;
    i {
      color: white !important;
    }
  }
}

.edit-rate-room {
  padding: 20px 30px;
  .room-rate-details {
    background: #F3F5F9;
    border-radius: 3px;
    padding: 15px;
    .detail-block {
      p {
        margin: 6px 0 0;
        font-size: 13px;
        @include text-truncate;
      }
    }
    .reservation-limit {
      margin-top: 4px;
    }
  }
  .scrollable-wrapper {
    .section-title {
      margin-bottom: 10px;
      padding: 0 !important;
      font-size: 12px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 7px;
        p {
          margin: 0;
        }
      }
    }
  }
  table {
    tr {
      td {
        padding: 10px 0;
        .button-wrapper {
          margin-left: 7px;
          button {
            +button {
              margin-left: 2px;
            }
          }
        }
      }
    }
  }
}

.editable-block {
  background: $ob-hover-background-color;
  border-radius: 3px;
  padding: 15px 15px 5px;
  position: relative;
  .edit-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 99;
  }
  .block-title {
    h5 {
      font-size: 11px;
      color: $ob-primary-color;
      margin: 0;
      font-weight: 700;
    }
  }
  .occupancy {
    .form-group {
      margin-bottom: 10px;
    }
  }
}
