/* ======================================= Search Filter Style ======================================= */

.search-filter {
  position: relative;
  .search {
    position: relative;
    float: right;
    @include transition(0.2s linear);
    .form-group {
      position: relative;
    }
    .clear-btn,
    .search-btn {
      cursor: pointer;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      display: inline-block;
      line-height: 24px;
      text-align: center;
      position: absolute;
      z-index: 9;
      right: 5px;
      top: 50%;
      margin-top: -12px;
      @include transition(0.2s linear);
      i {
        font-size: 14px;
        line-height: 24px;
        @include transition(0.2s linear);
      }
      &:hover {
        @include transition(0.2s linear);
        i {
          @include transition(0.2s linear);
        }
      }
    }
    .search-btn {
      &:hover {
        background: $theme-color;
        i {
          color: $app-text-color;
        }
      }
    }
    .clear-btn {
      display: none;
      &:hover {
        i {
          color: $theme-color;
        }
      }
    }
    input[type="text"] {
      border-radius: 16px;
      border-top-right-radius: 0px;
      height: 28px;
      border-bottom-right-radius: 0px;
      padding-right: 32px;
      cursor: pointer;
      @include transition(0.2s linear);
      &:focus {
        ~.search-btn {
          i {
            color: $theme-color;
          }
          &:hover {
            i {
              color: $app-text-color;
            }
          }
        }
      }
      &.expanded {
        padding-right: 56px;
        ~.clear-btn {
          display: inline-block;
        }
        ~.search-btn {
          right: 30px;
        }
      }
    }
    &:hover {
      input[type="text"] {
        border-color: $theme-color;
        @include transition(0.2s linear);
      }
    }
  }
  .filter {
    float: right;
    .dropdown {
      margin: 0;
    }
    .filter-btn {
      min-width: 74px;
      text-align: left;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-radius: 16px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-left: none;
    }
    .filter-dropdown {
      width: $filter-drowdown-width;
      background: $filter-drowdown-background-color;
      border-radius: $filter-drowdown-border-radius-color;
      padding: $filter-drowdown-padding;
      position: absolute;
      top: 100% !important;
      left: auto !important;
      right: 0;
      transform: none !important;
      border: none;
      z-index: 101;
      @include box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.5));
      .inline-group {
        @include flex;
        @include css3-prefix('align-items', 'center');
        @include css3-prefix('flex-direction', 'row');
        label {
          font-size: 11px;
          color: #000000;
          font-weight: 700;
          margin-bottom: 5px;
          display: inline-block;
          min-width: 115px;
          max-width: 115px;
          margin-bottom: 0;
          flex-basis: 0;
          flex-grow: 1;
        }
        .input-group {
          flex: 1 0 auto;
          width: auto;
          max-width: none;
          .form-group {
            .form-control {
              width: 100%;
            }
          }
        }
        +.inline-group {
          margin-top: 10px;
        }
        .select-dropdown {
          width: 100%;
        }
        .row {
          &.no-gutters {
            >.form-control {
              padding: 0 10px;
            }
            .control-btn-split {
              .control-btn {
                &.increment-btn {
                  top: 0;
                  bottom: auto;
                }
                &.decrement-btn {
                  top: 16px;
                  bottom: auto;
                }
              }
            }
            .secondary-text {
              line-height: 1.3;
            }
          }
        }
      }
    }
  }
  &.no-filter {
    .search {
      input[type="text"] {
        border-radius: 16px;
      }
    }
  }
  &.expandable {
    .search-input {
      width: 143px;
      @include transition(0.2s linear);
      &.expanded,
      &:focus {
        width: 300px;
      }
    }
    &.no-filter {
      .search-input {
        width: 215px;
        &.full-width {
          width: 100%;
        }
      }
    }
  }
  &.disabled {
    .filter,
    .search {
      cursor: not-allowed;
    }
    input[type="text"],
    .btn,
    .search-btn {
      pointer-events: none;
    }
    .filter {
      .filter-btn {
        color: $disabled-mixed-active-btn-color;
        border-color: $disabled-mixed-active-btn-border-color;
        background: $disabled-mixed-active-btn-background-color;
        i {
          color: $disabled-mixed-active-btn-color;
        }
      }
    }
    .search {
      input[type="text"] {
        color: $disabled-input-font-color;
        background: $disabled-input-background-color;
        border-color: $disabled-input-border-color;
      }
      .search-btn {
        color: #CCCCCC;
      }
    }
  }
}

.search-result-summary {
  width: 100%;
  background: #F3F5F9;
  padding: 20px 25px;
  border-bottom: 1px solid #DEE1E4;
  border-top: 1px solid #DEE1E4;
  margin-bottom: 10px;
  h4 {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    .secondary-text {
      font-size: 11px;
    }
  }
  .filters {
    .filter {
      border-right: 1px solid $border-color;
      padding: 3px 10px 3px 0;
      margin-right: 10px;
      display: inline-block;
      margin-top: 15px;
      p,
      .btn-clear {
        display: inline-block;
        vertical-align: middle;
      }
      p {
        margin: 0;
        font-weight: 700;
        span {
          font-weight: 400;
        }
      }
      .tooltip-text {
        margin-left: 10px;
      }
      .btn-clear {
        padding: 0;
        margin-left: 5px;
        width: 15px;
        height: 15px;
        color: $theme-color;
        line-height: 15px;
        font-size: 14px;
        border: none;
      }
    }
  }
}

.search-group-by {
  .group-by {
    -webkit-order: 2;
    order: 2;
  }
  .search {
        -webkit-order: 1;
    order: 1;
  }
}