/* ======================================= Side Panel Style ======================================= */

.side-panel-wrapper {
  background: transparentize($side-panel-wrapper-background-color, $side-panel-wrapper-opacity);
  position: fixed; // top: $navbar-height;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  z-index: 9999;

  .side-panel {
    right: -#{$side-panel-width};
    @include transition(0.2s linear);
  }
  &.show {
    left: 0;
    .side-panel {
      right: 0;
      @include transition(0.2s linear);
    }
  }
}

.side-panel {
  width: $side-panel-width;
  background: $side-panel-background-color;
  position: absolute;
  top: 0;
  bottom: 0;
  @include transition(0.2s linear);
  .button-box {
    padding: 10px 25px;
    border-bottom: 1px solid $border-color;
  }
  .side-panel-header {
    position: relative;
    padding: 0 $side-panel-padding-y;
    height: $side-panel-header-height;
    border-bottom: 1px solid $side-panel-border-color;
    h4 {
      font-size: $side-panel-header-title-font-size;
      color: $side-panel-header-title-color;
      font-weight: 700;
      margin: 0;
      line-height: 50px;
      display: inline-block;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 2px solid $gold;
      }
    }
    .btn-close {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 24px;
      height: 24px;
      border: 2px solid transparent;
      text-decoration: none;
      line-height: 22px;
      @include transition(0.15s linear);

      i {
        color: rgba(0, 0, 0, 0.54);
        font-size: 12px;
      }
      &:hover {
        @include transition(0.15s linear);
        border-color: rgba(0, 0, 0, 0.3);
      }
    }

    .nav-tabs {
      .nav-item {
        margin-bottom: 0;
        line-height: 19px;
        +.nav-item {
          margin-left: 38px;
        }
      }
      .nav-link {
        font-weight: 700;
        border: none !important;
        padding: 0;
        color: black;
        line-height: 49px;
        height: 49px;
        border-bottom: none !important;
        position: relative;
        &.active,
        &:hover {
          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 2px;
            right: 0;
            background: $gold;
          }
        }
      }
    }
  }
  .side-panel-container {
    height: calc(100% - #{$side-panel-header-height});
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    &.has-tab {
      .tab-content,
      .tab-pane {
        height: 100%;
      }
    }
    &.has-sticky-footer {
      .side-panel-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        @include box-shadow(0, -5px, 5px, rgba(0, 0, 0, 0.15));
        &.no-shadow {
          box-shadow: none;
        }
      }
      .side-panel-body {
        height: calc(100% - 69px);
      }
    }
  }
  .side-panel-body {
    padding: $side-panel-padding-x $side-panel-padding-y;
    &.has-content-wrapper {
      position: relative;
      .content-wrapper {
        top: 0;
        border: none;
        .body-wrapper {
          padding: 20px 25px;
        }
      }
    }
  }
  .side-panel-footer {
    padding: 21px $side-panel-padding-y;
    border-top: 1px solid $side-panel-border-color;
  }
  &.has-footer {
    .side-panel-body {
      padding: $side-panel-padding-x $side-panel-padding-y ($side-panel-padding-x * 2);
    }
  }
}

.panel-row-fluid {
  margin-left: -#{$side-panel-padding-y};
  margin-right: -#{$side-panel-padding-y};
  padding-left: $side-panel-padding-y;
  padding-right: $side-panel-padding-y;
}

.change-property-assignement-body {
  .search-filter {
    padding: 20px 20px 10px;
    border-bottom: 1px solid $border-color;
  }
}
