/* ======================================= Sidebar Style ======================================= */

.main-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: $navbar-height;
  width: $sidebar-width;
  transition: 0.2s linear;
  .sidebar-title {
    height: 40px;
    position: absolute;
    top: $navbar-height;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 99;
    h4 {
      line-height: 40px;
      font-size: 14px;
      font-weight: 700;
      float: left;
      padding-left: 5px;
      width: calc(100% - 80px);
    }
    a {
      cursor: pointer;
      margin: 5px;
      float: left;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
      transition: 0.1s linear;
      &:hover {
        transition: 0.1s linear;
      }
      &.favorite-links {
        &.active {
          .icon-star {
            &:before {
              content: '\e936';
            }
          }
        }
      }
    }
  }
  .links {
    height: 100%;
    padding-top: 40px;
    ul {
      padding: 0;
      margin: 0;
      height: 100%;
      list-style: none;
      overflow: hidden;
      overflow-y: auto;
      li {
        a {
          position: relative;
          padding: 9px 12px;
          display: block;
          font-size: 12px;
          text-decoration: none;
          cursor: pointer;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          transition: 0.1s linear;
        }
        &.has-child {
          >a {
            padding-right: 30px;
            &:after {
              font-family: "OmniBees" !important;
              content: '\e933';
              position: absolute;
              right: 17px;
              top: 50%;
              font-size: 12px;
              color: $dark-sidebar-active-font-color;
              z-index: 99;
              line-height: 1;
              margin-top: -6px;
              opacity: 0;
            }
          }
          .child-menu {
            display: none;
            li {
              a {
                padding-left: 24px;
              }
              ul {
                a {
                  padding-left: 36px;
                  padding-right: 12px;
                }
              }
            }
          }
        }
        &:hover,
        &:focus {
          >a {
            font-weight: 700;
            transition: 0.1s linear;
            &:after {
              transition: 0.1s linear;
              opacity: 1;
            }
          }
        }
        &.active {
          >a {
            font-weight: 700;
            &:after {
              transition: 0.1s linear;
              opacity: 1;
              transform: rotate(180deg);
            }
          }
          &.has-child {}
        }
      }
    }
  }
}

.dark-sidebar {
  .main-sidebar {
    background: $dark-sidebar-bg;
    color: $dark-sidebar-font-color;
    .sidebar-title {
      a {
        &:hover {
          background: rgba(255, 255, 255, 0.2);
        }
        &.favorite-links {
          &.active {
            color: $dark-sidebar-favorites-fill;
          }
        }
      }
    }
    .links {
      ul {
        &::-webkit-scrollbar-track {
          border: 5px solid $dark-sidebar-bg;
        }
        &::-webkit-scrollbar-thumb {
          border-left: 3px solid $dark-sidebar-bg;
          border-right: 3px solid $dark-sidebar-bg;
        }
        li {
          a {
            color: $dark-sidebar-font-color;
          }
          &:hover,
          &.active,
          &:focus {
            >a {
              color: $dark-sidebar-active-font-color;
              background: $dark-sidebar-active-link-bg;
            }
          }
        }
      }
    }
  }
}

.light-sidebar {
  .main-sidebar {
    background: $light-sidebar-bg;
    color: $light-sidebar-font-color;
    .sidebar-title {
      a {
        &:hover {
          background: rgba(0, 0, 25, 0.15);
        }
        &.favorite-links {
          &.active {
            color: $light-sidebar-favorites-fill;
          }
        }
      }
    }
    .links {
      ul {
        &::-webkit-scrollbar-track {
          border: 5px solid $light-sidebar-bg;
        }
        &::-webkit-scrollbar-thumb {
          border-left: 3px solid $light-sidebar-bg;
          border-right: 3px solid $light-sidebar-bg;
        }
        li {
          a {
            color: $light-sidebar-font-color;
          }
          &:hover,
          &.active,
          &:focus {
            >a {
              color: $light-sidebar-active-font-color;
              background: $light-sidebar-active-link-bg;
            }
          }
        }
      }
    }
  }
}

.sidebar-collapsed {
  .main-sidebar {
    width: $collapsed-sidebar-width;
    transition: 0.2s linear;
    .links {
      display: none;
    }
    .sidebar-title {
      a {
        clear: both;
      }
      h4 {
        display: none;
      }
    }
  }
}
