/* ======================================= Custom Tooltip Style ======================================= */

.ob-tooltip {
  position: relative;
  cursor: pointer;
  .tooltip-text {
    position: absolute;
    background-color: $tooltip-background-color;
    color: $tooltip-font-color;
    white-space: nowrap;
    text-align: center;
    border-radius: $tooltip-border-radius;
    padding: 6px 10px;
    z-index: $tooltip-z-index;
    visibility: hidden;
    font-family: $base-font-family;
    font-size: $tooltip-font-size;
    font-weight: $tooltip-font-weight;
    font-style: normal;
    pointer-events: none;
    opacity: 0;
    line-height: 1.4;
    text-transform: initial;
    text-decoration: none !important;
    @include transition(0.15s linear);
    &.multiline {
      white-space: normal;
      text-align: justify;
    }
    &.adjustance {
      margin: 0 !important;
      &.margin-top-7 {
        margin-top: 7px !important;
      }
      &.margin-top-10 {
        margin-top: 10px !important;
      }
      &.margin-top-right-5 {
        margin-top: 5px !important;
        margin-right: 5px !important;
      }
    }
  }
  &.tooltip-bottom-right {
    .tooltip-text {
      top: 100%;
      left: 0;
      margin-left: 20px;
    }
  }
  &.tooltip-bottom-left {
    .tooltip-text {
      top: 100%;
      right: 0;
      margin-right: 20px;
    }
  }
  &.tooltip-top-right {
    .tooltip-text {
      bottom: 100%;
      left: 0;
      margin-left: 20px;
    }
  }
  &.tooltip-top-left {
    .tooltip-text {
      bottom: 100%;
      right: 0;
      margin-right: 20px;
    }
  }
  &.btn-refresh {
    &.tooltip-bottom-left {
      .tooltip-text {
        margin-right: 6px;
        margin-top: 2px;
      }
    }
    &.tooltip-bottom-right {
      .tooltip-text {
        margin-left: 6px;
        margin-top: 2px;
      }
    }
  }
  &.error {
    .tooltip-text {
      background-color: $red;
    }
  }
  &:hover {
    .tooltip-text {
      visibility: visible;
      opacity: 1;
      @include transition(0.15s linear);
    }
  }
}

.has-tooltip {
  display: block;
  padding-right: 15px;
  position: relative;
  .secondary-text {
    display: inline-block;
    max-width: 100%;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      max-width: 50%;
    }
  }
  &.text-truncate {
    .ob-tooltip {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &.label-tooltip {
    display: block;
    label {
      display: block;
    }
    .ob-tooltip {
      position: absolute;
      color: $theme-color;
      font-style: italic;
      right: 0;
      top: 0;
      padding-left: 5px;
      background: white;
    }
  }
}

.movable-tooltip {
  position: fixed;
  z-index: 1080;
  display: block;
  background-color: #FF4D4D;
  color: #FFFFFF;
  border-radius: 2px;
  width: auto;
  margin-top: 10px;
  margin-left: 12px;
  padding: 3px 10px;
  text-align: center;
  cursor: pointer;
  font-size: 11px;
}
