.authentication-modal {
  .code-block {
    border: 1px solid #C8CED1;
    padding: 8px 20px 0 20px;
    border-radius: 2px;
    background: white;
    text-align: center;
    width: 162px;
    max-width: 162px;
    height: 162px;
    max-height: 162px;
    h5 {
      font-size: 12px;
      font-weight: 700;
      color: black;
      margin-bottom: 5px;
    }
    .code {
      font-size: 14px;
      color: black;
      font-weight: 700;
      margin: 23px 0 0;
      word-break: break-all;
    }
    img {
      max-height: 100px;
      max-width: 100px;
    }
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
    .col {
      margin: 0 5px;
    }
  }
}

.property-list {
  .row-action-btn {
    display: inline-block;
    text-align: center;
    width: 15px;
    background: transparent !important;
    border: 1px solid #0C83D9;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    color: #0C83D9 !important;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2222;
    opacity: 0;
    i {
      line-height: 14px;
      vertical-align: middle;
      font-size: 8px;
    }
    &:hover {
      background: transparent !important;
    }
  }
  .k-grid {
    &.list-page-grid {
      .k-grid-header {
        border: none !important;
        tr {
          display: none;
        }
      }
      tr {
        &.selected {
          background: #F3F5F9;
        }
        td {
          .inner-td {
            position: relative;
            padding-right: 30px !important;
          }
        }
        &:hover {
          .row-action-btn {
            opacity: 1;
          }
        }
      }
    }
  }
}
.acc-manager-list {
  .row-action-btn {
    display: inline-block;
    text-align: center;
    width: 15px;
    background: transparent !important;
    border: 1px solid #0C83D9;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    color: #0C83D9 !important;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2222;
    opacity: 0;
    i {
      line-height: 14px;
      vertical-align: middle;
      font-size: 8px;
    }
    &:hover {
      background: transparent !important;
    }
  }
  .k-grid {
    &.list-page-grid {
      .k-grid-header {
        border: none !important;
        tr {
          display: none;
        }
      }
      tr {
        td {
          .inner-td {
            padding-right: 30px !important;
          }
        }
        p {
          padding-right: 30px;
        }
        &:hover {
          .row-action-btn {
            opacity: 1;
          }
        }
      }
    }
  }
}
