// Theme Colors
$theme-color: #0C83D9;
$green: #4BAF4F;
$red: #FF0000;
$white: #FFFFFF;
$gold: #CF990D;
$app-text-color: #FFFFFF;
$secondary-color: $gold;

$body-bg: #F3F5F9;
$base-font-family: 'Open Sans', sans-serif;
$base-font-size: 11px;
$base-font-weight: 400;
$border-color: #DDE1E3;
$icon-font-family: 'OmniBees' !important;

$side-navigation-menu-color: #1D273A;
$side-navigation-text-color: #FFFFFF;
$side-navigation-active-text-color: #0C83D9;

$action-button-panel-height: 50px;
$action-button-panel-border-color: #EEEEEE;
$navbar-height: 57px;
$nav-tabs-height: 41px;
$page-heading-height: 40px;

$scrollbar-track-background-color: #DDE1E3;
$scrollbar-thumb-background-color: #DDE1E3;
$tab-content-pading: 20px;
$content-wrapper-padding: 20px;

// Fonts
$title-color: #000000;
$tab-font-color: #797F86;
$active-tab-font-color: #000000;
$secondary-text-color: #797F86;

// Rating Colors
$rating-star-color: $secondary-color;

@import 'variables/form-controls';
@import 'variables/side-navigation';
@import 'variables/search-filter';
@import 'variables/language-group';
@import 'variables/content-area';
@import 'variables/side-panel';
@import 'variables/buttons';
@import 'variables/headings';
@import 'variables/table';
@import 'variables/modal';
@import 'variables/alert';
@import 'variables/breadcrumb';
@import 'variables/dropdown';
@import 'variables/notification';
@import 'variables/tooltip';
@import 'variables/loader';
