/* ======================================= Common Width/Height Style ======================================= */

.width-x-small {
  width: 100%;
  max-width: 75px !important;
}

.width-small {
  width: 100%;
  max-width: 110px !important;
}

.width-medium {
  width: 100%;
  max-width: 215px !important;
}

.width-large {
  width: 100%;
  max-width: 455px !important;
}

.width-x-large {
  width: 100%;
  max-width: 950px !important;
}


// New grid structure
.grid-x-small {
  width: 100%;
  max-width: 75px !important;
}

.grid-small {
  width: 100%;
  max-width: 115px !important;
}

.grid-medium {
  width: 100%;
  max-width: 250px !important;
}

.grid-large {
  width: 100%;
  max-width: 415px !important;
}

.grid-x-large {
  width: 100%;
  max-width: 950px !important;
}

.width-20 {
  width: 20px;
  min-width: 20px;
  max-width: 20px;
}

.w20 {
  min-width: 20px;
}

.w40 {
  min-width: 40px;
}

.w90 {
  min-width: 90px;
}

.w120 {
  width: 100%;
  max-width: 120px;
}

.w150 {
  min-width: 150px;
}

.width-90 {
  width: 100%;
  min-width: 90px !important;
  max-width: 90px !important;
}

.width-95 {
  width: 100%;
  min-width: 95px !important;
  max-width: 95px !important;
}

.width-100 {
  width: 100%;
  min-width: 100px !important;
  max-width: 100px !important;
}

.width-115 {
  width: 100%;
  min-width: 115px !important;
  max-width: 115px !important;
}

.width-130 {
  width: 130px !important;
  min-width: 130px !important;
  max-width: 130px !important;
}

.width-135 {
  width: 100%;
  min-width: 135px !important;
  max-width: 135px !important;
}

.width-140 {
  width: 140px !important;
  min-width: 140px !important;
  max-width: 140px !important;
}

.width-158 {
  width: 100%;
  min-width: 158px !important;
  max-width: 158px !important;
}

.width-160 {
  width: 100%;
  max-width: 160px !important;
}

.width-190 {
  width: 100%;
  min-width: 190px !important;
  max-width: 190px !important;
}

.width-195 {
  max-width: 195px !important;
}

.w210 {
  width: 210px;
}

.width-235 {
  width: 100%;
  max-width: 235px !important;
}

.width-250 {
  width: 100%;
  min-width: 250px !important;
  max-width: 250px !important;
}

.width-270 {
  width: 100%;
  max-width: 270px !important;
}

.width-280 {
  width: 280px;
}

.width-290 {
  width: 100%;
  max-width: 290px !important;
}

.width-360 {
  width: 100%;
  max-width: 360px !important;
}

.width-385 {
  width: 100%;
  max-width: 385px !important;
}

.width-390 {
  width: 100%;
  max-width: 390px !important;
}

.width-450 {
  width: 100%;
  max-width: 450px !important;
}

[class^="col"],
[class^="col-"] {
  &.width-x-small {
    max-width: 105px !important;
  }
  &.grid-x-small {
    max-width: 105px !important;
  }
  &.width-small {
    max-width: 140px !important;
  }
  &.grid-small {
    max-width: 145px !important;
  }
  &.width-medium {
    max-width: 240px !important;
  }
  &.grid-medium {
    max-width: 280px !important;
  }
  &.grid-large {
    max-width: 445px !important;
  }
  &.width-large {
    max-width: 485px !important;
  }
  &.width-x-large {
    max-width: 980px !important;
  }
  &.grid-x-large {
    max-width: 980px !important;
  }
}

.horizontal-scrolled-table {
  .width-x-small {
    min-width: 75px !important;
  }
  .grid-x-small {
    min-width: 75px !important;
  }
  .width-small {
    min-width: 110px !important;
  }
  .grid-small {
    min-width: 115px !important;
  }
  .width-158 {
    min-width: 158px !important;
  }
  .width-medium {
    min-width: 210px !important;
  }
  .grid-medium {
    min-width: 250px !important;
  }
  .grid-large {
    min-width: 415px !important;
  }
  .width-large {
    min-width: 455px !important;
  }
  .width-x-large {
    min-width: 950px !important;
  }
  .grid-x-large {
    min-width: 950px !important;
  }
}

.col-custom {
  &.grid-x-small {
    max-width: 95px !important;
  }
  &.grid-small {
    max-width: 135px !important;
  }
  &.grid-medium {
    max-width: 270px !important;
  }
  &.grid-large {
    max-width: 435px !important;
  }
  &.grid-x-large {
    max-width: 970px !important;
  }
}


// Heights
.h30 {
  height: 30px !important;
}

.h32 {
  height: 32px !important;
}

.h40 {
  height: 40px !important;
}

.h58 {
  height: 58px !important;
}

.h70 {
  height: 70px !important;
}

.h94 {
  height: 94px !important;
}

.h103 {
  height: 103px !important;
}

.h105 {
  height: 105px !important;
}

.h115 {
  height: 115px !important;
}

.h120 {
  height: 120px !important;
}

.h150 {
  height: 150px !important;
}

.h160 {
  height: 160px !important;
}

.h178 {
  height: 178px !important;
}

.h300 {
  height: 300px !important;
}

.min-h40 {
  min-height: 40px;
}

.mw-550 {
  max-width: 550px;
}

.min-w110 {
  min-width: 110px;
}

.min-w70 {
  min-width: 70px;
}

.min-w130 {
  min-width: 130px;
}

.full-display-block {
  height: 100%;
  width: 100%;
  position: relative;
}

.full-width {
  width: 100%;
}

//float
.float-none {
  float: none !important;
}

// Font sizes
.fs-10 {
  font-size: 10px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-19 {
  font-size: 19px !important;
}

.fs-40 {
  font-size: 40px !important;
}

.fs-44 {
  font-size: 44px !important;
}

.fs-48 {
  font-size: 48px !important;
}

.fs-55 {
  font-size: 55px !important;
}