.btn {
  &.button-secondary {
    background: white;
    border: 1px solid $ob-button-border-color;
    color: $ob-disable-text-color;
    &:hover {
    	border-color: $ob-primary-color;
    	color: $ob-primary-color;
        box-shadow: none;
    }
    &.disabled {
    	background: $ob-input-border-color;
    	color: white;
    	border-color: $ob-input-border-color;
    }
  }
}
