// Constant Colors
$ob-text-color: #2C2F33;
$ob-disable-text-color: #454950;
$ob-button-border-color: #797F86;
$ob-input-border-color: #C8CED1;
$ob-disable-background-color: #DDE1E3;
$ob-hover-background-color:  #F3F5F9;
$ob-success-color: #4BAF4F;
$ob-error-color: #FF0000;
$ob-border-color: #DDE1E3;

// Theme Colors
$ob-primary-color: #0C83D9;
$ob-primary-hover-color: #0B73BF;
$ob-secondary-color: #CF990D;