.cp-variation {
  .cp-wrapper {
    position: relative;
    .btn-cp {
      background: transparent;
      border: none;
      border-left: 1px solid transparent;
      bottom: 0;
      color: $ob-primary-color;
      cursor: pointer;
      font-size: 10px;
      font-weight: 700;
      padding: 0;
      outline: none;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 32px;
      @include transition(0.15s linear);
    }
    .btn-variation {
      background: transparent;
      border: none;
      border-radius: 2px 0 0 2px;
      border-right: 1px solid transparent;
      bottom: 0;
      cursor: pointer;
      font-size: 10px;
      font-weight: 700;
      left: 0;
      outline: none;
      padding: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 22px;
      @include transition(0.15s linear);
      &:after {
        bottom: 0;
        color: $ob-success-color;
        content: '\e929';
        font-family: 'omni-icons' !important;
        font-size: 9px;
        left: 0;
        line-height: 34px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
      }
      &.low {
        &:after {
          color: $ob-error-color;
          content: '\e92a';
        }
      }
    }
    .form-control {
      padding-right: 42px;
      padding-left: 32px;
      text-align: right;
      &:focus {
        ~.btn-variation {
          border-right-color: $ob-primary-color;
          @include transition(0.15s linear);
        }
        ~.btn-cp {
          border-left-color: $ob-primary-color;
          @include transition(0.15s linear);
        }
      }
    }
    &:hover {
      .form-control {
        border-color: $ob-primary-color;
      }
      .btn-variation {
        border-right-color: $ob-primary-color;
        @include transition(0.15s linear);
      }
      .btn-cp {
        border-left-color: $ob-primary-color;
        @include transition(0.15s linear);
      }
    }
  }
  &.error {
    .cp-wrapper {
      .form-control {
        &:focus {
          ~.btn-variation {
            border-right-color: $ob-error-color;
            @include transition(0.15s linear);
          }
          ~.btn-cp {
            border-left-color: $ob-error-color;
            @include transition(0.15s linear);
          }
        }
      }
    }
    &:hover {
      .form-control {
        border-color: $ob-error-color !important;
      }
      .btn-variation {
        border-right-color: $ob-error-color !important;
      }
      .btn-cp {
        border-left-color: $ob-error-color !important;
      }
    }
  }
  &.disabled {
    .cp-wrapper {
      .form-control {
        border-color: $ob-input-border-color !important;
        background: $ob-disable-background-color !important;
        color: $ob-disable-text-color !important;
        pointer-events: none;
      }
      .btn-variation {
        border-right-color: transparent !important;
        pointer-events: none;
        &:after {
          color: $ob-button-border-color !important;
        }
        &.low {
          &:after {
            color: $ob-button-border-color !important;
          }
        }
      }
      .btn-cp {
        border-left-color: transparent !important;
        color: $ob-button-border-color !important;
        pointer-events: none;
      }
    }
  }
}
