.cp-input {
  .cp-wrapper {
    position: relative;
    .form-control {
      padding-right: 42px;
      text-align: right;
    }
    .btn-cp {
      background: transparent;
      border: none;
      border-left: 1px solid transparent;
      bottom: 0;
      color: $ob-button-border-color;
      cursor: pointer;
      font-size: 10px;
      font-weight: 700;
      padding: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 32px;
      @include transition(0.15s linear);
    }
  }
  &.cp-switchable {
    .cp-wrapper {
      .btn-cp {
        color: $ob-primary-color;
      }
      .form-control {
        &:focus {
          ~.btn-cp {
            border-left-color: $ob-primary-color;
            @include transition(0.15s linear);
          }
        }
      }
      &:hover {
        .form-control {
          border-color: $ob-primary-color;
          @include transition(0.15s linear);
        }
        .btn-cp {
          border-left-color: $ob-primary-color;
          @include transition(0.15s linear);
        }
      }
    }
  }
  &.error {
    .form-control {
      border-color: $ob-error-color !important;
      @include transition(0.15s linear);
    }
    &.cp-switchable {
      .form-control {
        &:focus {
          ~.btn-cp {
            border-left-color: $ob-error-color;
            @include transition(0.15s linear);
          }
        }
      }
      &:hover {
        .btn-cp {
          border-color: $ob-error-color !important;
        }
      }
    }
  }
  &.disabled {
    .cp-wrapper {
      .form-control {
        border-color: $ob-input-border-color !important;
        background: $ob-disable-background-color !important;
        color: $ob-disable-text-color !important;
        pointer-events: none;
      }
      .btn-cp {
        border-left-color: transparent !important;
        color: $ob-button-border-color !important;
        pointer-events: none;
      }
    }
    &.cp-switchable {
      &:hover {
        .btn-cp {
          border-color: transparent !important;
        }
      }
    }
  }
}
