.multi-selector {
  .selector-wrapper {
    background-color: white;
    border: 1px solid $ob-input-border-color;
    border-radius: 2px;
    color: $ob-text-color;
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: 400;
    height: 32px;
    line-height: 30px;
    padding: 0 10px;
    position: relative;
    width: 100%;
    padding-right: 52px;
    @include transition(0.2s linear);
    >span {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
    .multi-select-btn {
      color: $ob-disable-text-color;
      font-size: 12px;
      line-height: 32px;
      outline: none;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      cursor: pointer;
      width: 32px;
      background: transparent;
      border: none;
      @include transform(rotate(0deg));
      @include transition(0.2s linear);
    }
    .btn-clear {
      background: transparent;
      border: none;
      color: $ob-disable-text-color;
      cursor: pointer;
      font-size: 15px;
      height: 15px;
      line-height: 15px;
      display: none;
      outline: none;
      padding: 0;
      position: absolute;
      right: 32px;
      top: 8px;
      width: 15px;
      @include transition(0.2s linear);
    }
    &:hover {
      border-color: $ob-primary-color;
      @include transition(0.2s linear);
      .multi-select-btn {
        color: $ob-primary-color;
        @include transition(0.2s linear);
      }
    }
    &.filled {
      .btn-clear {
        display: block;
        @include transition(0.2s linear);
      }
    }
  }
  &.error {
    .selector-wrapper {
      border-color: $ob-error-color;
    }
  }
  &.disabled {
    .selector-wrapper {
      border-color: $ob-input-border-color !important;
      background: $ob-disable-background-color !important;
      color: $ob-disable-text-color !important;
      pointer-events: none;
      .multi-select-btn {
        color: $ob-disable-text-color !important;
      }
    }
  }
}
