.pn-input {
  .pn-wrapper {
    position: relative;
    .btn-previous,
    .btn-next {
      background: transparent;
      border: none;
      color: $ob-disable-text-color;
      cursor: pointer;
      font-size: 10px;
      height: 32px;
      outline: none;
      padding: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 16px;
      @include transition(0.15s linear);
    }
    .btn-previous {
      left: 0;
    }
    .btn-next {
      left: 16px;
      border-right: 1px solid transparent;
    }
    .dropdown {
      .pn-button {
        color: $ob-text-color;
        padding: 0 10px;
        background: white;
        height: 32px;
        border-radius: 2px;
        width: 100%;
        padding-left: 40px;
        text-align: left;
        border: 1px solid $ob-input-border-color;
        i {
          position: absolute;
          right: 8px;
          top: 11px;
          color: $ob-disable-text-color;
          font-size: 10px;
          @include transform(rotate(0deg));
          @include transition(0.15s linear);
        }
      }
      &.show {
        .pn-button {
          i {
            @include transform(rotate(180deg));
            @include transition(0.15s linear);
          }
        }
      }
    }
    .dropdown-menu {
      min-width: 100px;
      border: none;
      width: 100%;
      height: 190px;
      overflow: hidden;
      overflow-y: auto;
    }
    .dropdown-item {
      color: $ob-text-color;
      @include transition(0.15s linear);
      &.selected,
      &:hover {
        color: $ob-text-color !important;
        background: $ob-hover-background-color;
        @include transition(0.15s linear);
      }
    }
    &:hover {
      .pn-button {
        border-color: $ob-primary-color;
        @include transition(0.15s linear);
        i {
          @include transition(0.15s linear);
          color: $ob-primary-color;
        }
      }
      .pn-button,
      .btn-previous,
      .btn-next {
        color: $ob-primary-color;
        @include transition(0.15s linear);
      }
      .btn-next {
        border-right-color: $ob-primary-color;
        @include transition(0.15s linear);
      }
    }
  }
  &.error {
    .pn-wrapper {
      .pn-button {
        border-color: $ob-error-color;
        @include transition(0.15s linear);
      }
    }
    &:hover {
      .pn-wrapper {
        .pn-button {
          color: $ob-disable-text-color;
        }
        .btn-previous,
        .btn-next {
          color: $ob-disable-text-color;
        }
        .btn-next {
          border-right-color: $ob-error-color !important;
        }
      }
    }
  }
  &.disabled {
    .pn-wrapper {
      .pn-button {
        border-color: $ob-input-border-color !important;
        background: $ob-disable-background-color !important;
        color: $ob-disable-text-color !important;
        pointer-events: none;
        i {
          color: $ob-button-border-color !important;
        }
      }
      .btn-previous,
      .btn-next {
        color: $ob-button-border-color !important;
        pointer-events: none;
      }
      .btn-next {
        border-right-color: transparent !important;
      }
    }
  }
}
