 <button class="center" (click)="removeSelectedItem();">
    Remove Selected Elements
</button> 

<div style="background: white">
<app-tree-view [tree]="recordsList" 
    [actualRecords]="actualRecords" 
    [checkBoxesRequired]="true" 
    [selectAllParentAndChild]="true"
    [restrictSelectToLeafNode]="false" 
    [elementsToBeRemoved]="treeElementsToBeRemoved" 
    [toolTipObject]="treeToolTip"
    [restrictSelectToSingleNode]="false"
    [disableSelectedNodes]="false"
    [removeSelectedNodes]="false"
    [selectAllNodes]="false"
    [disableSelect]="false"
    [hiddenCurrencySymbol]="false"
    (treeElementSelected)="treeElementAdded($event)" >
</app-tree-view>
</div>
