<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<div class="container">
    <div class="list-wrapper directory-list selectable-list full-width">
        <ul class="clearfix">
            <ng-template #recursiveList let-localTree>
                <li [ngClass]="{'is-folder': item && item['IsFolder'], 'has-branch expanded': (item['children'] || item['roomTypesLinked'])}"
                    *ngFor="let item of localTree" (dragstart)="dragStart($event,item)" draggable="true">
                    <div class="tag-wrapper" [ngClass]="{'hide' : item['selected'] && removeSelectedNodes}">
                        <a (click)="handleExpandCollapse($event)" [ngClass]="{'selected' : item['selected'], 'disabled-tree-node' : item['selected'] && disableSelectedNodes}">
                            <div class="row no-gutters">
                                <div *ngIf="item['CurrencyId']"  [hidden]="hiddenCurrencySymbol" class="currency">
                                    <span class="currency-label">{{item['currencySymbol']}}</span>
                                </div>
                                <div class="form-group" *ngIf="checkBoxesRequired">
                                    <div class="input-check" (click)="selectCheckMark($event, item)">
                                        <input type="checkbox" [checked]="item['selected']" [disabled]="item['selected'] && disableSelectedNodes">
                                        <label></label>
                                    </div>
                                </div>
                                <div class="capsules">
                                    <i class="icon-directory" *ngIf="item['IsFolder']"></i>
                                    <span class="status ai-inactive is-inactive" *ngIf="(undefined === item['IsActive'] || null === item['IsActive'] || false === item['IsActive']) && !item['IsFolder']"></span>
                                    <span class="status ai-active is-active" *ngIf="true === item['IsActive'] && !item['IsFolder']"></span>
                                    <span class="type-label" *ngIf="item['Tag']">{{item['Tag']}}</span>
                                    
                                </div>
                                <p class="col text-truncate value" *ngIf="item['IsFolder']" id="itemText1" (click)="selectElementFromTree(item, $event);">{{item['Name']}}</p>
                                <p class="col text-truncate value" *ngIf="!item['IsFolder']" id="itemText2" (click)="selectElementFromTree(item, $event);">{{item['Name']}}</p>
                            </div>
                        </a>
                        <!-- floating buttons here-->
                    </div>
                    <ul *ngIf="item['children'] && item['children'].length > 0">
                        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item['children'] }"></ng-container>
                    </ul>
                    <ul *ngIf="item['roomTypesLinked'] && item['roomTypesLinked'].length > 0">
                        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item['roomTypesLinked'] }"></ng-container>
                    </ul>
                </li>
            </ng-template>
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: localTree }"></ng-container>
        </ul>
    </div>
</div>
